{extend name="eqpt_layout"/}
<style type="text/css">
    .my-skin .layui-layer-btn a {
        background-color: #84c101;
        border: 1px solid #84c101;
        color: #FFF;
    }
</style>
{block name="main"}
<link rel="stylesheet" href="/static/css/eqpt.css">

<div class="mainMiddle mainBor"  style="display:inline-block;width: 100%;border: 0px">
    <!--标题-->
    <div class="middleNav">
        <i class="layui-icon">&#xe653;</i> &nbsp;
        报警记录
    </div>


    <form class="layui-form"  action="" method="post">
        <!--已安装未安装筛选-->
        <!--<div class="layui-form-item" style="margin-left: 40px">
            <input type="checkbox" id="sadf"  lay-filter="check" name="Installed" title="已安装" lay-skin="primary" checked>
            <input type="checkbox"  lay-filter="check" name="unerected" title="未安装" lay-skin="primary" checked>
            <span>|</span>&nbsp;
            <input type="checkbox"  lay-filter="check" name="normal" title="正常" lay-skin="primary" checked>
            <input type="checkbox"  lay-filter="check" name="fault" title="故障" lay-skin="primary" checked>
            <input type="checkbox"  lay-filter="check" name="scrap" title="报废" lay-skin="primary" checked>
        </div>-->

        <div class="layui-form-item" style="margin-top: 15px">


        </div>

    </form>

    <!--<div class="middleScreen layui-inline" style="position: absolute;top: 65px;right: 20px">
        <button class="middleAdd" id="add_eqpt"><i class="layui-icon">&#xe654</i>&nbsp;添加</button>
    </div>-->


    <div class="mainTable scrollber">

        <table class="layui-table" id="ledger" lay-filter="eqpt_show"></table>
        <script type="text/html" id="barDemo">
            <!--   <a class="layui-btn layui-btn-xs operBtn" lay-event="details">详情</a>-->
            <a class="layui-btn layui-btn-xs operBtn" lay-event="details">查看详细信息</a>
            <!--<a class="layui-btn layui-btn-danger layui-btn-xs operBtn" lay-event="del">删除</a>-->
        </script>
    </div>
</div>
{/block}

{block name="script"}
<!--<script type="text/html" id="titleTpl">
    {{#  if(d.eqpt_status == '正常'){ }}
    <span><p  style="color:#f0f0f0">{{d.eqpt_status}}</p><span/>
        {{#  } else if(d.eqpt_status == '故障'){ }}
    <span><p  style="color:#FFB800">{{d.eqpt_status}}</p><span/>
        {{#  } else if(d.eqpt_status == '报废'){ }}
    <span><p  style="color:#c00">{{d.eqpt_status}}</p><span/>
    {{#  } }}
</script>-->
<script>
    $("input").focus(function(){
        $(this).parent().children(".input_clear").show();
    });
    $("input").blur(function(){
        if($(this).val()=='')
        {
            $(this).parent().children(".input_clear").hide();
        }
    });
    $(".input_clear").click(function(){
        $(this).parent().find('input').val('');
        $(this).hide();
    });
</script>
<script>
    layui.use(['table','form','layer'], function(){
        var table = layui.table,
            form = layui.form,
            layer = layui.layer;
        //创建arr对象  ps：关联数组无法转换成json
        //arr = {"Installed":true,"unerected":true,"normal":true,"fault":true,"scrap":true};
        //监听提交
        form.on('submit(reload)', function(data){
            /*(data.field.Installed == 'on')? data.field.Installed = '1' : data.field.Installed = '0';
            (data.field.unerected == 'on') ? data.field.unerected = '2' : data.field.unerected = '0';
            (data.field.normal == 'on') ? data.field.normal = '1' : data.field.normal = '0';
            (data.field.fault == 'on') ? data.field.fault = '2' : data.field.fault = '0';
            (data.field.scrap == 'on') ? data.field.scrap = '4' : data.field.scrap = '0';*/
            console.dir(data.field.keyword);
            console.dir(data.field.cate);
            console.dir(data.field.site);
            table.reload('ledger', {
                where: {
                    keyword:data.field.keyword
                    ,cate:data.field.cate
                    ,site:data.field.site
                    /* ,Installed:data.field.Installed
                     ,unerected:data.field.unerected
                     ,normal:data.field.normal
                     ,fault:data.field.fault
                     ,scrap:data.field.scrap*/
                } //设定异步数据接口的额外参数
            });
            return false;
        });
        /*form.on('checkbox(check)', function(obj){
            //将checkbox 值遍历后转为json 待传值
            for(var item in arr){
                if(item == this.name){
                    arr[item] = obj.elem.checked;
                }
            }
            console.dir(arr);
            console.dir('Installed :'+arr['Installed']);
            console.dir('unerected :'+arr['unerected']);
            console.dir('normal :'+arr['normal']);
            console.dir('fault :'+arr['fault']);
            console.dir('scrap :'+arr['scrap']);
            table.reload('ledger', {
                where: {
                    Installed:arr['Installed'],
                    unerected:arr['unerected'],
                    normal:arr['normal'],
                    fault:arr['fault'],
                    scrap:arr['scrap']
                } //设定异步数据接口的额外参数
            });
            return false;
            //console.log(JSON.stringify(arr).toString());
            //console.log(data.elem.checked); //是否被选中，true或者false
            //console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            //console.log(data.othis); //得到美化后的DOM对象
        });*/
        //监听表格复选框选择
        /*table.on('checkbox(switch_lamp)', function(obj){
         //console.log(obj);
         layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });*/
//变更设备状态
        /*form.on('switch(switch_lamp)', function(obj){
          //layer.tips(this.name + '：'+ obj.elem.checked, obj.othis);
          var id = eval(this.name);
          var status;
          obj.elem.checked ? status="1" : status="0";
          //var status = eval(obj.elem.checked);
              //console.log(id);
              //console.log("////");
              //console.log(status);
              var loding = layer.load(0);
          $.post('{:url("eqpt_management/changestatus")}', { 'id': id,'status':status}, function(data) {
                console.log(data);
                if (data.code == 1) {
                    if (data.url) {
                        layer.close(loding);
                        layer.msg(data.msg + ' 页面即将自动刷新~');
                    } else {
                        layer.close(loding);
                        layer.msg(data.msg);
                    }
                    setTimeout(function() {
                        if (data.url) {
                            location.href = data.url;
                        } else {
                            location.reload();
                        }
                    }, 1500);
                } else {
                    layer.close(loding);
                    layer.msg(data.msg);
                    setTimeout(function() {
                       location.reload();
                    }, 1500);
                }
            });
        });*/
        //监听工具条
        table.render({
            elem: '#ledger' //指定原始表格元素选择器（推荐id选择器）
            ,height:  'full-140' //容器高度
            ,url: '{:url("index/alarm/logs")}'
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                //layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                groups: 5 //只显示 1 个连续页码
                //,first: false //不显示首页
                ,limit: 10 //每页显示数量
                ,limits: [5, 10, 20, 30, 40]  //每页条数的选择项
                //,last: false //不显示尾页
//                ,theme:'#00ffff'
            }
            ,cols: [[
                //,{field:'floor_id',title:'分层ID', width:110, sort: true}
                {field:'date',title:'报警日期',width:'82%'}
               /* ,{field:'alarmrecs',/!*width:250,*!/align:'center',title:'设备名称'}*/
                ,{align:'center',title:'操作', toolbar: '#barDemo'}
            ]
            ] //设置表头
            //,…… //更多参数参考右侧目录：基本参数选项
            ,done:function(res,curr,count){
                var img_show = null; // tips提示
                $("td span p").hover(function(){
                    img_show = layer.tips('点击修改设备状态！', this,{
                        tips:[1, 'rgba(41,41,41,.8)']
                    });
                },function(){
                    layer.close(img_show);
                });
            }
        });
        table.on('tool(eqpt_show)', function(obj) {
            var data = obj.data;
            if (obj.event === 'details') {
                console.dir(data.id);
                //window.open('{:url("eqpt/eqpt_details")}' + "?id=" + data.eqpt_id, '_self');
                layer.open({
                    title:"报警日志详情",
                    type: 2,
                    offset: ['15px', '60px'],
                    area: ['1070px', '655px'],
                    fixed: true, //不固定
                    maxmin: true,
                    scrollbar:true,
                    content: ['{:url("alarm/details")}' + "?log_id=" + data.id, 'no'],
                    shade: [0.8, '#393D49']
                    /*cancel: function(){
                        //右上角关闭回调  刷新父页面
                        window.parent.location.reload();
                        //return false 开启该代码可禁止点击该按钮关闭
                    }*/
                });
            }
        });
        /*   if(obj.event === 'setSign'&& data.eqpt_status == '正常'){
               //示范一个公告层
               layer.open({
                   type: 1
                   ,title: false //不显示标题栏
                   ,area: '400px;'
                   ,shade: 0.8
                   ,skin : "my-skin"
                   ,id: 'layuipro1' //设定一个id，防止重复弹出
                   ,btn: ['设备维修', '设备更换','取消关闭']
                   ,btnAlign: 'c'
                   ,moveType: 1 //拖拽模式，0或者1
                   ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +
                   '设备编号： '+data.eqpt_num+'，<br>设备名称：'+data.eqpt_type+'<br>请谨慎选择后续操作！</div>'
                   ,yes: function(index, layero){
                       layer.open({
                           title:false,
                           type: 2,
                           offset: ['15px', '60px'],
                           area: ['1070px', '655px'],
                           fixed: true, //不固定
                           maxmin: true,
                           content: ['{:url("service/order")}' + "?eqpt_id=" + data.eqpt_id, 'no'],
                           shade: [0.8, '#393D49']
                       });
                   }
                   ,btn2: function(index, layero){
                       layer.open({
                           title:"添加设备",
                           type: 2,
                           offset: ['15px', '60px'],
                           area: ['1070px', '655px'],
                           fixed: true, //不固定
                           maxmin: true,
                           content: ['{:url("replace/replace_order")}' + "?eqpt_id=" + data.eqpt_id, 'no'],
                           shade: [0.8, '#393D49']
                       });
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
                   ,btn3: function(index, layero){
                       //按钮【按钮二】的回调
                       layer.msg('btn3');
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
                   ,cancel: function(){
                       //右上角关闭回调
                       layer.msg('cancel');
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
               });
           }else if (obj.event === 'setSign'&& data.eqpt_status == '故障') {
               //示范一个公告层
               layer.open({
                   type: 1
                   ,title: false //不显示标题栏
                   ,area: '400px;'
                   ,shade: 0.8
                   ,skin : "my-skin"
                   ,id: 'layuipro2' //设定一个id，防止重复弹出
                   ,btn: [ '设备更换','取消关闭']
                   ,btnAlign: 'c'
                   ,moveType: 1 //拖拽模式，0或者1
                   ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +
                   '设备编号： '+data.eqpt_num+'，<br>设备名称：'+data.eqpt_type+'<br>设备已故障，已派发维修工单，请耐心等待！</div>'
                   ,yes: function(index, layero){
                       layer.open({
                           title:false,
                           type: 2,
                           offset: ['15px', '60px'],
                           area: ['1070px', '655px'],
                           fixed: true, //不固定
                           maxmin: true,
                           content: ['{:url("replace/refill")}' + "?eqpt_id=" + data.eqpt_id, 'no'],
                           shade: [0.8, '#393D49']
                       });
                   }
                   ,btn2: function(index, layero){
                       //按钮【按钮二】的回调
                       layer.msg('btn2');
                       //return false;
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
                   ,cancel: function(){
                       //右上角关闭回调
                       layer.msg('cancel');
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
               });
           }else if (obj.event === 'setSign'&& data.eqpt_status == '报废') {
               //示范一个公告层
               layer.open({
                   type: 1
                   ,title: false //不显示标题栏
                   ,area: '400px;'
                   ,shade: 0.8
                   ,skin : "my-skin"
                   ,id: 'layuipro3' //设定一个id，防止重复弹出
                   ,btn: ['取消关闭']
                   ,btnAlign: 'c'
                   ,moveType: 1 //拖拽模式，0或者1
                   ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">' +
                   '设备编号： '+data.eqpt_num+'，<br>设备名称：'+data.eqpt_type+'<br>设备已报废，已派发更换工单，请耐心等待！</div>'
                   ,yes: function(index, layero){
                       layer.msg('yes');
                   }
                   ,cancel: function(){
                       //右上角关闭回调
                       layer.msg('cancel');
                       //return false 开启该代码可禁止点击该按钮关闭
                   }
               });
           }
           //console.log(obj);
           /!*if (obj.event === 'del') {
               layer.confirm('确定删除当前设备组？', { icon: 3, title: '提示' }, function(index) {
                   $.post('{:url("eqpt_management/del_group")}', { 'id': data.id }, function(data) {
                       //layer.msg(data.msg);
                       if (data.code == 1) {
                           if (data.url) {
                               layer.msg(data.msg + ' 页面即将自动跳转~');
                           } else {
                               layer.msg(data.msg);
                           }
                           setTimeout(function() {
                               if (data.url) {
                                   location.href = data.url;
                               } else {
                                   location.reload();
                               }
                           }, 1000);
                       } else {
                           layer.msg(data.msg + ' 页面即将自动刷新~');
                           setTimeout(function() {
                               location.reload();
                           }, 1000);
                       }
                   });
                   //layer.close(index);
                   /!*$.post('{:url("eqpt_management/del_group")}', { 'id': data.id }, function(data) {
                       if (data.code == 1) {
                           if (data.url) {
                               layer.msg(data.msg + ' 页面即将自动跳转~');
                           } else {
                               layer.msg(data.msg);
                           }
                           setTimeout(function() {
                               if (data.url) {
                                   location.href = data.url;
                               } else {
                                   location.reload();
                               }
                           }, 1500);
                       } else {
                           layer.msg(data.msg);
                           setTimeout(function() {
                               if (data.url) {
                                   location.href = data.url;
                               }
                           }, 1500);
                       }
                   });*!/
               });
           } /!*else if (obj.event === 'add') {
           window.open('{:url("eqpt_management/add")}' + "?id=" + data.id, '_self')
       } *!/!*!/
       else if (obj.event === 'edit') {
           //console.dir(data);
               //window.open('{:url("eqpt/eqpt_details")}' + "?id=" + data.eqpt_id, '_self');
               layer.open({
                   title:"设备详情",
                   title:false,
                   type: 2,
                   offset: ['15px', '60px'],
                   area: ['1070px', '655px'],
                   fixed: true, //不固定
                   maxmin: false,
                   content: ['{:url("eqpt/eqpt_edit")}' + "?eqpt_id=" + data.eqpt_id, 'no'],
                   shade: [0.8, '#393D49'],
                   cancel: function(){
                    //右上角关闭回调  刷新父页面
                    window.parent.location.reload();
                    //return false 开启该代码可禁止点击该按钮关闭
                   }
               });
           }else if (obj.event === 'details') {
               //console.dir(data);
               /!*window.open('{:url("eqpt_management/details")}' + "?id=" + data.id, '_self');*!/
               //iframe层-父子操作
               //alert(data.id);
               layer.open({
                   title:"设备详情",
                   title:false,
                   type: 2,
                   offset: ['15px', '60px'],
                   area: ['1070px', '655px'],
                   fixed: true, //不固定
                   maxmin: false,
                   content: ['{:url("eqpt/eqpt_details")}' + "?eqpt_id=" + data.eqpt_id, 'no'],
                   shade: [0.8, '#393D49'],
                  /!* cancel: function(){
                       //右上角关闭回调  刷新父页面
                       window.parent.location.reload();
                       //return false 开启该代码可禁止点击该按钮关闭
                   }*!/
               });
               /!*layer.open({
                   type: 2,
                   offset: '100px',
                   area: ['80%','80%'],
                   fixed: false, //不固定
                   maxmin: true,
                   content: '{:url("eqpt/eqpt_details")}' + "?id=" + data.eqpt_id
               });*!/
           }
       });*/
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');
                console.dir(demoReload.val());
                table.reload('ledger', {
                    where: {
                        id:demoReload.val()
                    } //设定异步数据接口的额外参数
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        /*   //获取选中信息
           function getCheckData(){
               //获取分组设备数据
               var closeSelect = table.checkStatus('idTest')
                   ,data = closeSelect.data;
               for (var i = data.length - 1; i >= 0; i--) {
                   lamps += data[i]['lamp_ids'].substring(1);
               }
               lamps = lamps.substring(0, lamps.length - 1);
           }*/
        /*//分组变更设备状态
        function changeGroup(status)
        {
            //console.log(lamps+'///////'+status);
            var loding = layer.load(0);
            $.post('{:url("eqpt_management/changegroup")}', { 'ids': lamps ,'status': status }, function(data) {
                //console.log(data);
                if (data.code == 1) {
                    layer.close(loding);
                    if (data.url) {
                        layer.msg(data.msg,
                            {
                                icon: 1,
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            });
                    } else {
                        layer.msg(data.msg,
                            {
                                icon: 1,
                                time: 2000 //1秒关闭（如果不配置，默认是3秒）
                            });
                    }
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                } else {
                    layer.close(loding);
                    layer.msg(data.msg,
                        {
                            icon: 2,
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        });
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                }
            });
        };
        $('#Table-Refresh').on('click', function() {
            layer.confirm('此操作耗时较久，请耐心等待！', { icon: 3, title: '提示' }, function(index) {
                var loding = layer.load(0);
                $.post('{:url("eqpt_management/refresh")}', { }, function(data) {
                    layer.close(loding);
                    layer.msg(data.msg);
                    location.reload();
                });
            });
        });
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
*/
        $('#add_eqpt').on('click', function() {
            layer.open({

                title:"设备添加",
                type: 2,
                offset: ['15px', '60px'],
                area: ['1070px', '655px'],
                fixed: true, //不固定
                maxmin: true,
                content: ['http://192.168.10.21:8088/RMD_PipeGallery/rmdBaseEquipmentController.do?goAdd&u_id=1'],
                shade: [0.8, '#393D49']
                /*cancel: function(){
                    //右上角关闭回调  刷新父页面
                    window.parent.location.reload();
                    //return false 开启该代码可禁止点击该按钮关闭
                }*/
            })
        });
    });
</script>
{/block}