<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="__STATIC__/css/common.css">
     <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
     <link rel="stylesheet" href="__STATIC__/new/css/dispatch.css">
    <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
    <script src="__STATIC__/new/gis/socket.io.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <script src="__STATIC__/new/js/dispatch.js"></script>
</head>
<body style="background-color:#000000">
     <div class="mainMiddle mainBor">
          <div class="middleNav">
              <i class="layui-icon">&#xe653;</i> &nbsp;
              指挥调度
          </div>
          <div class="dispatch">
               <div class="dispatchTop">
                    <div class="display dispatchTop_header">
                         <div class="display qiu" id="display1"></div><span>调度台一</span>
                    </div>
                    <div class="display dispatchTop_header">
                         <div class="display qiu" id="display2"></div><span>调度台二</span>
                    </div>
                    <img src="__STATIC__/new/dispatch-img/conduct1.png" class="dispatchImg1" alt="/">
               </div>
               <div class="dispatchBottom">
                    <!-- 话机展示框 -->
                    <div class="dispatchBottom_left display" id="dispatchBottom_left"> </div>
                    <!-- 右侧导航栏 -->
                    <div class="dispatchBottom_right display scrollber" id="dispatchBottom_right">
                         <div class="rightTriangle" id="jiao"> 
                              <img src="__STATIC__/new/dispatch-img/jiao2.png" class="dispatchImg2" alt="/">
                              <img src="__STATIC__/new/dispatch-img/jiao1.png" style="float:right" class="dispatchImg2" alt="/">
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>
</html>