<!DOCTYPE html>
<html>
<!--设备管理页面内容页使用布局 则继承此页面-->
<head>
    <meta charset="UTF-8">
    <title>设备管理</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/equipment.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
</head>

<body class="childrenBody">
{block name="main"}主内容{/block}
{block name="script"}{/block}
</body>

</html>