<!DOCTYPE html>
<!--全局布局页面  上方导航加下方内容页-->
<html lang="en">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>智慧管廊综合管理平台</title>
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/equipment.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">

    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
</head>
<style>

    button{
        width:30px;
        height:25px;
        background-color:rgba(00,255,255,.4);
        margin:0;
        padding:0;
        border:0;
        color:#000;
        cursor:pointer;
    }
    .shadow{
    outline:1px solid #247998;
    box-shadow: 0 0 6px #247998 inset;
    }
    .layui-layer-content{
        color: black;
    }
    #user_name{
        position: relative;
    }
    #hover-togg{
        width: 100%;
        display: none;
        position: absolute;
    }
    .bck:hover{
        background: gray;
    }
</style>
<body class="backg" style='overflow:-Scroll;overflow-y:hidden'>
<div class="wrap">
    <!--一级标签-->
    <div class="header">
        <!--报警设置-->
        <!--报警设置-->
        <ul class="headerUl">
            <li  id="user_name" style="float: right">
                {if $userInfo.username != ''}
                <a href="{:url('index/Attendance/check')}" target="contentFrame">{$userInfo.nickname}</a>
                <dl id="hover-togg">
                    <dd class="bck"><a href="javascript:void(0);"  id="logout">安全退出</a></dd>
                    <!--<dd class="bck"><a href="" class="re_qrcode" id="re_qrcode">更新二维码</a></dd>-->
                </dl>
                {else/}
                <a href="javascript:void(0);" id="login">请登录</a>
                {/if}

            </li>
            <span style="display:inline;">|</span>
            <li>
                <a>
                    <img src="__STATIC__/image/a2.png" alt="/">
                    报警
                </a>
            </li>
        </ul>
        <!--一级菜单-->
        <ul class="headerNav">
            <li id="copyright">
                <img src="__STATIC__/image/a3.png" alt="" class="img">
                智慧管廊综合管理平台
            </li>
            <span>|</span>
            {volist name="Navi" id="vo"}
            <!-- {if condition="$vo['auth_isLink'] neq 1"}
                <li>
                    <a href="/index.php/index/{$vo.auth_c}/{$vo.auth_a}" target="contentFrame">{$vo['auth_name']}</a>
                </li>
            {/if} -->
            {switch $vo['auth_isLink']}
                {case 0 }
                    <li>
                        <a href="/index.php/index/{$vo.auth_c}/{$vo.auth_a}" target="contentFrame">{$vo['auth_name']}</a>
                    </li>
                {/case}
                {case 1 }
                    <li>
                        <a href="{$vo['auth_url']}" target="contentFrame">{$vo['auth_name']}</a>
                    </li>
                {/case}
            {/switch}


                <span>|</span>


                {if condition="($i gt count($Navi)) AND ($i eq count($Navi))"}

                <li>
                    <img src="__STATIC__/image/aLeft.png" alt="" class="img1">&nbsp;
                    <img src="__STATIC__/image/aRight.png" alt="" class="img1">
                </li>
                {/if}


            {/volist}

            <!--<ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a href="javascript:;">{$userInfo.username}</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{:url('admin/index/logout')}">安全退出</a></dd>
                        <dd><a href="javascript:;" class="re_qrcode" id="re_qrcode">更新二维码</a></dd>
                    </dl>
                </li>
            </ul>-->

            <li style="position:absolute;right:3px;top:40px;width:7%">
                <a href="{:url('index/visual/demoone')}" target="_blank" style="display:inline-block "><button type="button" style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;" >左</button></a>
                <a href="{:url('index/visual/demotwo')}" target="_blank" style="display:inline-block "><button type="button">中</button></a>
                <a href="{:url('index/visual/demothree')}" target="_blank" style="display:inline-block "><button type="button" style="border-top-right-radius: 5px;border-bottom-right-radius: 5px" >右</button></a>
            </li>

            <!--<li>-->
                <!--<a href="{:url('index/visual/demoone')}" target="_blank" >左屏</a>-->
            <!--</li>-->
            <!--<span>|</span>-->
            <!--<li>-->
                <!--<a href="{:url('index/visual/demotwo')}" target="_blank">&lt;!&ndash;<img src="__STATIC__/image/a1.png" alt="">&ndash;&gt;中屏</a>-->
            <!--</li>-->
            <!--<span>|</span>-->
            <!--<li>-->
                <!--<a href="{:url('index/visual/demothree')}" target="_blank">&lt;!&ndash;<img src="__STATIC__/image/a1.png" alt="">&ndash;&gt;右屏</a>-->
            <!--</li>-->


        </ul>
        <!--动画-->
        <div class="anim">
            <div class="wire" id="wire1"></div>
            <div class="wire" id="wire2"></div>
            <div class="wire" id="wire3"></div>
        </div>
    </div>
    <!--内容-->
    <iframe name="contentFrame" scrolling="auto" width="100%" height="100%" src="/index.php/index/visual/index"  frameborder="0">
    </iframe>
</div>


<script>
    $(function () {
        /* $(".headerNav li").click(function () {
            $(this).siblings('span').css("color", "black");
        });
       .headerNav li:nth-child(n+2):nth-child(-n+18):hover{
                outline:1px solid #247998;
                box-shadow: 0 0 6px #247998 inset;
            }*/

       /* $(".headerNav li").hover(function(){
            $(this).prev("span").css("color","#000");
            $(this).next("span").css("color","#000");
        },function(){
            $(this).prev("span").css("color","#00ffff");
            $(this).next("span").css("color","#00ffff");
        });
*/

        $(".headerNav li").mousemove(function(){
            $("span").css("color","#00ffff");
            $(this).prev("span").css("color","#000");
            $(this).next("span").css("color","#000");
        });
        $(".headerNav li").mouseout(function(){
            $("span").css("color","#00ffff");
        });
        $(".headerNav li").click(function(){
            $("span").css("visibility","visible");
            $(this).prev("span").css("visibility","hidden");
            $(this).next("span").css("visibility","hidden");
            $(".headerNav li").removeClass("shadow");
            $(this).addClass("shadow");
        });
        $(".headerNav li:eq(1)").click();
        /*$(".headerNav li").mouseout(function(){
            $("span").css("visibility","visible");
            $(this).prev("span").css("visibility","hidden");
            $(this).next("span").css("visibility","hidden");
        });*/

    });

    layui.use('layer', function(){
        var layer = layui.layer;
        $("#copyright").click(function(){
            layer.open({
                title: '版权声明！'
                ,content: '本软件版权为求实科技集团有限公司所有。<br> 受《中华人民共和国著作权法》和著作权国际公约的保护。<br> 未经求实科技集团有限公司书面许可，不得以任何方式或理由对该软件或资料的任何部分进行使用、破解、复制、修改、抄录、传播或与其它产品捆绑使用、销售，侵权必究。<br> ' +
                '软件名称：InnoWis智慧管廊综合管理平台<br> ' +
                '授权使用：河北承宏管廊工程有限公司<br> ' +
                '使用范围：正定新区存量综合管廊工程 <br> ' +
                '授权期限：永久授权<br> ' +
                '授权单位：求实科技集团有限公司<br> '
            });
        });

        $("#login").click(function(){
            layer.open({
                type: 2,
                offset: ['200px', '530px'],
                area: ['500px', '415px'],
                title:false,
                fixed: true, //不固定
                //maxmin: true,
                content: ['{:url("index/login")}'],
                shade: [0.8, '#393D49'],
                /* cancel: function(){
                 //右上角关闭回调  刷新父页面
                 window.parent.location.reload();
                 //return false 开启该代码可禁止点击该按钮关闭
                 }*/
            });
        });
        $("#logout").click(function(){
            layer.confirm('确定要退出吗？', { icon: 3, title: false }, function(index) {
                $.get('{:url("index/logout")}', function(data) {
                    layer.msg(data.msg);
                    location.reload();
                    /*if (data.code == 1) {
                        if (data.url) {
                            layer.msg(data.msg + ' 页面即将自动跳转~');
                        } else {
                            layer.msg(data.msg);
                        }
                        setTimeout(function() {
                            if (data.url) {
                                location.href = data.url;
                            } else {
                                location.reload();
                            }
                        }, 1500);
                    } else {
                        layer.msg(data.msg + ' 页面即将自动刷新~');
                        setTimeout(function() {
                            location.reload();
                        }, 1000);
                    }*/

                });
            });
        });


        $('#user_name').hover(function () {
            $("#hover-togg").slideToggle();
        });
    });



</script>
</body>

</html>