<!DOCTYPE html>
<html>
<!--设备管理页面内容页使用布局 则继承此页面-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理</title>
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/eqpt.css">
    <link rel="stylesheet" href="__STATIC__/css/equipment.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <script src="__STATIC__/layui/layui.js"></script>
    <script src="__STATIC__/js/jquery-1.7.1.min.js"></script>

</head>

<body class="childrenBody">
{block name="main"}主内容{/block}
{block name="script"}{/block}
</body>

</html>