{extend name="sub_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-header">添加用户</div>
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline" >
                    <input type="text" name="user_phone" autocomplete="off" lay-verify="required|phone" placeholder="手机号" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写常用手机号，用做登录帐号</div>
            </div>

            <div class="layui-form-item" style="width: 450px;">
                <label class="layui-form-label">所在机构</label>
                <div class="layui-input-block">
                    <div class="layui-input-block">
		               <input type="text" id="tree" lay-filter="tree" class="layui-input">
		           </div>
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline" >
                    <input type="text" name="user_nickname" lay-verify="required|username" autocomplete="off" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">显示姓名：汉字、字母、数字和下划线_及破折号-</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="user_sex" value="1" title="男" checked="">
                    <input type="radio" name="user_sex" value="2" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">初始密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="user_pwd" lay-verify="required|password" autocomplete="off" placeholder="初始密码" value="123456" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6-20位字符，可由英文、数字及标点符号组成，默认为：123456</div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" name="user_id_card" lay-verify="required|identity" autocomplete="off" placeholder="身份证号" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入身份证号</div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">E-mail</label>
                <div class="layui-input-inline" >
                    <input type="text" name="user_email" autocomplete="off"  placeholder="E-mail" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">填写完整邮箱，如 qskj@126.com</div>
            </div>
            <div id="depts" value="{$depts}"></div>
            
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn ajax-post" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="button" class="layui-btn layui-btn-primary" id='go_back'>返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script>
	layui.config({
    base : '__STATIC__/layui/'
  	}).use(['layer','form','jquery','selectN','selectM','treeSelect'],function(){
    $ = layui.jquery;   

    var form = layui.form;
    var treeSelect= layui.treeSelect;
    var depts = $('#depts').attr('value');
    console.log(depts);
    treeSelect.render({
            // 选择器
            elem: '#tree',
            // 数据
            data: '/index/dept/get_tree_data',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '修改默认提示信息',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 点击回调
            click: function(d){
                console.log(d);
            },
            // 加载完成后的回调函数
            success: function (d) {
                console.log(d);
//                选中节点，根据id筛选
//                treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
            }
        });
    //监听返回按钮
    $('#go_back').on('click', function() 
    { 
      window.open('{:url("user/index",array("menuid"=>"24"))}',  '_self');
    });

    //监听提交
    form.on('submit(demo1)', function(data){

    

    $.ajax({   
        url:'./add',       
        method:'post',       
        data:data.field,        
        dataType:'JSON',         
        success:function(res){     
            if(res.code='0'){    
            layer.alert('success');  
                //parent.closeIframe(res.msg);
                return false;
            }                
            else{
                layer.alert('sss')  
                return false;
            }
        },              
        error:function (data) {
             layer.alert('error')
                return false;
        }           
           }) ;         
    });
});
</script>
{/block}