*{
        margin:0;
        padding:0;
    }
    body{
        background:url("../../../static/new/image/back.png");
        background-size:100%;
        overflow:hidden;
        color:#ffffff;
    }
    .mainBor{
	border:1px solid #113c58;
	background:rgba(00,03,11,0.4)
    }
    /*ͷ��*/
    .mainFont{
        height:7vh;
        line-height:7vh;
        font-size:0;
        font-weight:600;
        color:#00ffff;
    }
    /*ͷ������*/
    .img{
	width:50px;
	height:30px;
	position:relative;
	top:6px;
	margin:0 0.2vw;
    }
    .wireLeft{
        height:7vh;
        width:33%;
	display:inline-block;
	vertical-align:top;
	position:relative;
    }
    .fontWire1{
	background-color:#00ffff;
	width:90.5%;
	height:2px;
	margin-top:1.5vh;
    }
    .wireLeft::before{
	content:'';
	position:absolute;
	width:14%;
	height:2px;
	background:#00ffff;
	top:4.2vh;
	right:-0.65vw;
	transform:rotate(45deg);
	
    }
    .wireContent{
        width:34%;
	border-bottom:2px solid #00ffff;
	display:inline-block;
	vertical-align:top;
	font-size:1.6rem;
	color:#00ffff;
	text-align:center;
	position:relative;
	letter-spacing:6px;

    }
    .wireRight{
	width:33%;	
	display:inline-block;
	vertical-align:top;
	position:relative;
    }
    .wireRight::before{
	content:'';
	position:absolute;
	left:-0.65vw;
	top:4.2vh;
	width:14%;
	height:2px;
	background-color:#00ffff;
	transform:rotate(135deg)
    }
    .fontWire2{
	width:90.5%;
	height:2px;
	background-color:#00ffff;
	position:absolute;
	right:0;
	top:1.5vh;
    }
    /*����*/
    .content{
	margin-top:1.3vh;
        height:90vh;
        width:100vw;
    }