<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="u2857" class="ax_default" data-width="1262" data-height="977">

    <!-- Unnamed (图片) -->
   <!-- <div id="u2858" class="ax_default _图片">
        <img id="u2858_img" class="img " style="width: 98%;height: 950px;position: absolute; top: 0px;" src="/static/images/人员/u1075.png"/>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u2859" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>-->

   <!-- &lt;!&ndash; Unnamed (图片) &ndash;&gt;
    <div id="u2860" class="ax_default _图片" style="position: absolute; top: 10px; width: 100%;">
        <img id="u2860_img" class="img " src="/static/images/人员/u1077.png"/>
        &lt;!&ndash; Unnamed () &ndash;&gt;
        <div id="u2861" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>-->
</div>
<div id="u2751" class="ax_default _图片" style="position: absolute; top: 0px;">
    <img id="u2751_img" class="img " src="/static/images/巡查巡检/u2751.png"/>
    <!-- Unnamed () -->
    <div id="u2752" class="text" style="display:none; visibility: hidden">
        <p><span></span></p>
    </div>
</div>
<!-- Unnamed (图片) -->
<div id="u2753" class="ax_default _图片" style="height: 80%;position: absolute;top: 110px;left: 220px">
    <img id="u2753_img" class="img " src="/static/images/巡查巡检/u2753.png"/>
    <!-- Unnamed () -->
    <div id="u2754" class="text" style="display:none; visibility: hidden">
        <p><span></span></p>
    </div>
</div>
</body>
</html>