<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>document</title>
    <link rel="stylesheet" href="__STATIC__/new/evironment/evironment.css">
    <link rel="stylesheet" href="__STATIC__/new/itemJS/evironment.js">
    <link rel="stylesheet" href="__STATIC__/new/evironment/common.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/js/echarts.min.js"></script>
    <!-- 图标 -->
    <link rel="stylesheet" href="__STATIC__/new/style.css">
    <link rel="stylesheet" href="__STATIC__/new/demo.css">
    <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
</head>
<style>
    input.layui-input.layui-unselect{
        height: 30px;
        width: 200px;
        border-radius: 10px;
        border: 1px solid #00FFFF;
        color: #000000;
        margin-top: 5px;
        padding: 0 14px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /*background: url(../image/sanjiao.png) no-repeat right center;*/
        background-color: #cccfd1;
    }
    div.layui-input-inline{
        margin-right: 15px!important;
    }

</style>
<body class="backg" style="overflow: auto">

    <div class="middleNav">
        <i class="layui-icon">&#xe653;</i> &nbsp;
        大数据管理
    </div>


    <input type="hidden" id="sitesdata" class="layui-input" value="{$Sitesdata}">
    <input type="hidden" id="realtime_IP" class="layui-input" value="{$Config.realtime_IP}">
    <form class="layui-form" action="">
        <div class="layui-inline" style="height: 42.6px">
            <div class="layui-form-item test"  lay-filter="test"></div>
        </div>
    </form>
    <div class="evirMain">
        <div class="evirMain2 flex" style="justify-content:space-between;align-content:space-between">
            <div class="evirMainDiv mainBor ">
                <div class="contentHead">
                    温度 <img src="__STATIC__/new/image/c13.png" alt="/" width="15" height="20">
                </div>
                <div class="contentDiv" data-name="T" id="T">
                    ----
                    <!-- 30℃ -->
                </div>
                <div class="contentBelow">℃</div>
            </div>
            <div class="evirMainDiv mainBor">
                <div class="contentHead">

                    湿度
                    <img src="__STATIC__/new/image/c4.png" alt="/" width="20" height="20">
                </div>
                <div class="contentDiv" data-name="M" id="M">
                    ----
                    <!-- 72% -->
                </div>
                <div class="contentBelow">%</div>
            </div>
            <div class="evirMainDiv mainBor">
                <div class="contentHead">
                    水位 <img src="__STATIC__/new/image/c14.png" alt="/" width="30  ">
                </div>
                <div class="contentDiv" data-name="LT" id="LT">
                    <!-- 20cm -->
                    ----
                </div>
                <div class="contentBelow">CM</div>
            </div>
            <div class="evirMainDiv mainBor">
                <div class="contentHead">
                    甲烷
                    <span>&nbsp;CH<sub style="font-size: 1px">4</sub></span>
                </div>
                <div class="contentDiv" data-name="CH4" id="CH4">
                    ----
                    <!-- 3 -->
                </div>
                <div class="contentBelow">%LEL</div>
            </div>
            <div class="evirMainDiv mainBor">
                <div class="contentHead">
                    硫化氢
                    <span>&nbsp;H<sub style="font-size: 1px">2</sub>S</span>
                </div>
                <div class="contentDiv" data-name="H2S" id="H2S">
                    ----
                    <!-- 0 -->
                </div>
                <div class="contentBelow">PPM</div>
            </div>
            <div class="evirMainDiv mainBor">
                <div class="contentHead">
                    氧气
                    <span>&nbsp;O<sub style="font-size: 1px">2</sub></span>
                </div>
                <div class="contentDiv" data-name="O2" id="O2">
                    ----
                    <!-- 20 -->
                </div>
                <div class="contentBelow">%VOL</div>
            </div>
        </div>
        <div class="evirMain2 layui-form flex" >
            <div class="main2Con">
                <div class="divWidth flex">
                    <img src="__STATIC__/new/image/c1.png" alt="当前没有图片" class="evirImg "/>
                    <div class="divWidthInput">
                        水舱排风</br>
                        <input type="checkbox"  lay-skin="switch"  lay-filter="switchTest" lay-text="ON|OFF"/>
                    </div>
                </div>
                <div class="divWidth flex" style="border-top:1px dashed #ffffff">
                    <img src="__STATIC__/new/image/c1.png" alt="当前没有图片" class="evirImg"/>
                    <div class="divWidthInput">
                        电舱排风</br>
                        <input type="checkbox" lay-skin="switch"  lay-filter="switch" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
            <div class="main2Con flex" style="border-left:1px solid #ffffff;border-right:1px solid #ffffff; margin:0 4px">
                <img src="__STATIC__/new/image/c3.png" alt="当前没有图片" class="evirImg"/>
                <div class="divWidthInput">
                    水泵</br>
                    <input type="checkbox" lay-skin="switch" lay-text="ON|OFF">
                </div>
            </div>
            <div class="main2Con">
                <div class="divWidth flex">
                    <img src="__STATIC__/new/image/c15.png" alt="当前没有图片" class="evirImg2"/>
                    <div class="divWidthInput">
                        灯组一</br>
                        <input type="checkbox"  lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
                <div class="divWidth flex" style="border-top:1px dashed #ffffff">
                    <img src="__STATIC__/new/image/c15.png" alt="当前没有图片" class="evirImg2"/>
                    <div class="divWidthInput">
                        灯组三</br>
                        <input type="checkbox"  lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
            <div class="main2Con" style="border-left:1px dashed #ffffff">
                <div class="divWidth flex">
                    <img src="__STATIC__/new/image/c15.png" alt="当前没有图片" class="evirImg2 "/>
                    <div class="divWidthInput">
                        灯组二</br>
                        <input type="checkbox" lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
                <div class="divWidth flex" style="border-top:1px dashed #ffffff">
                    <img src="__STATIC__/new/image/c15.png" alt="当前没有图片" class="evirImg2"/>
                    <div class="divWidthInput">
                        灯组四</br>
                        <input type="checkbox"  lay-skin="switch" lay-text="ON|OFF">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="evirMain evirMain1" style="flex-wrap:wrap">
        <div class="evirMainSele">
            <select class="evirSelect" id="seleTwo">
                <option value="T">温度</option>
                <option value="M">湿度</option>
                <option value="O2">氧气</option>
                <option value="CH4">甲烷</option>
                <option value="H2S">硫化氢</option>
                <option value="LT">水位</option>
            </select>
            <div class="display evirSelect">
                <div class="evirSele"><i class="icon-chart-01"></i></div>
                <ul class="evirUl">
                    <li><i class="icon-chart-01"></i></li>
                    <li><i class="icon-chart-02"></i></li>
                    <li><i class="icon-chart-03"></i></li>
                    <li><i class="icon-chart-04"></i></li>
                </ul>
            </div>
        </div>
        <div id="container" class="evirEchart"></div>
        <!--<div id="container" style="width:100%;height:100%;"></div>-->

        <div class="evirMain evirMain1" id="evirSett1">

        </div>
        <div class="evirMain evirMain1" id="evirSett2">

        </div>
    </div>
</body>

<script src="__STATIC__/layui/layui.js"></script>

<script>
    var zone1 = '';
    let evirImg = document.getElementsByClassName('evirImg');
    layui.config({
        base: '__STATIC__/interact/js/',
    })
    layui.use(['table','laydate','form','interact'], function(){
        var table = layui.table,
            interact = layui.interact,
            $ = layui.jquery,
            form = layui.form;
        var site_data = JSON.parse($('#sitesdata').val());
        // console.dir(site_data);
        form.on('switch(switchTest)',function(){
            if(this.checked ? true : false == true){
                evirImg[0].classList.add('evirImgKey')
            }else if(this.checked ? trun : false == false){
                evirImg[0].classList.remove('evirImgKey')
            }
        })
        form.on('switch(switch)',function(){
            if(this.checked ? true : false == true){
                evirImg[1].classList.add('evirImgKey')
            }else if(this.checked ? trun : false == false){
                evirImg[1].classList.remove('evirImgKey')
            }
        })
        interact.render({
            elem : '.test',
            // url : '{:url("index/patrol/sitesdata")}',
            title : '防火分区：',
            data : site_data,
            selected: [5,14,0],
            // name : ['street','cang','site'],
             hint : ['请选择街道','请选择舱室','请选择防火分区']
        });
        //监听选择select选择事件 使用lay-filter
        interact.on('interact(test)',function(data){
            //判断text是否含有中文
            var reg = new RegExp("[\\u4E00-\\u9FFF]+","g");
            if(!reg.test(data.text)){
                //根据防火分区 获取实时数据
                //console.dir(data.text);
                //第一次 选择 创建定时器 获取实时数据
                if(typeof(zone) == 'undefined'){
                    arrDate = [];
                    arrData = [];
                    zone = data.text;
                    zone1 = zone;
                    real_time(zone);
                    realtimes(zone);
                    lastdata(zone);
                    $("#seleTwo").val('T');
                    myContainer.setOption({
                        xAxis:{
                            data:arrDate
                        },
                        series:[{
                            name:'成交',
                            data:arrData
                        }]
                    });
                    // realtimes();
                    Interval = window.setInterval("real_time(zone)",60000);
                    Reallog = setInterval(function(){
                        lastdata(zone);
                        zone1 = zone;
                        myContainer.setOption({
                            xAxis:{
                                data:arrDate
                            },
                            series:[{
                                name:'成交',
                                data:arrData
                            }]
                        });
                    },60000)

                }else{
                    arrDate = [];
                    arrData = [];
                    // 删除旧定时器
                    window.clearInterval(Interval);
                    window.clearInterval(Reallog);
                    $("#seleTwo").val('T');
                    zone = data.text;
                    real_time(zone);
                    realtimes(zone);
                    lastdata(zone);
                    zone1 = zone;
                    myContainer.setOption({
                        xAxis:{
                            data:arrDate
                        },
                        series:[{
                            name:'成交',
                            data:arrData
                        }]
                    });
                    Interval = window.setInterval("real_time(zone)",60000);
                    Reallog = setInterval(function(){
                        lastdata(zone);
                        myContainer.setOption({
                            xAxis:{
                                data:arrDate
                            },
                            series:[{
                                name:'成交',
                                data:arrData
                            }]
                        });
                    },60000)
                }
            }
        })

    // 监控种类
        let seleTwo = document.getElementById('seleTwo');
        seleTwo.onchange = function(){
            arrDate = [];
            arrData = [];
            console.log(this.name);
            console.log(zone1);
            if(zone1 !== ''){
                window.clearInterval(Reallog);
                realtimes(zone1,this.value);
                lastdata(zone1,this.value);
                myContainer.setOption({
                    title:{
                        text:$(this).find("option:selected").text()+'监测'
                    },
                    xAxis:{
                        data:arrDate
                    },
                    series:[{
                        name:'成交',
                        data:arrData
                    }]
                });
                Reallog = setInterval(function(){
                    lastdata(zone1,this.value);
                    myContainer.setOption({
                        title:{
                            text:$(this).find("option:selected").text()+'监测'
                        },
                        xAxis:{
                            data:arrDate
                        },
                        series:[{
                            name:'成交',
                            data:arrData
                        }]
                    });
                },60000)
            }

        }

    });
    function real_time(zone){
        var zones = zone.replace('/','');
        var realtime_IP = $('#realtime_IP').val();
        // console.dir(zones);
        $.ajax({
            // url:realtime_IP+"/real/real_time?zone="+zones,
            url:"http://192.168.10.18/real/real_time?zone="+zones,
            async:false,
            success:function(result){
                result = JSON.parse(result);
                // console.dir(result);
                var res={};
                $.each(result,function(key,value){    //objTmp对象数据
                    value = parseFloat(value);
                    res[key] = value.toFixed(2);
                });
                // console.dir(res);
                let list = document.querySelectorAll('.contentDiv');
                for(var i = 0; i < list.length; i++){
                    var key = list[i].dataset.name+'_'+zones;
                    var ids = list[i].dataset.name;
                    //console.dir(key);
                    if(typeof(res[key]) !== 'undefined'){
                        document.getElementById(ids).innerText = res[key];
                    }else{
                        document.getElementById(ids).innerText = '----';
                    }
                }
                //console.dir(result.PV_CH4_SL1SX01);
            }
        });
        //console.dir(arr);
    }

    var container = document.getElementById('container');
    var myContainer = echarts.init(container);

    var base = + new Date(2018,9,30);
    var oneDay = 24*3600*1000;
    var date = [];
    var data = [Math.random()*150];
    var now = new Date(base);
    function addData(shift){
        now = [now.getFullYear(),now.getMonth()+1,now.getDate()].join('/');
        date.push(now);
        data.push((Math.random()-0.5)*10+data[data.length-1]);
        if (shift) {
            //console.log(data);
            date.shift();
            data.shift();
        }
        now = new Date(+new Date(now)+oneDay);
    }



    for (var i = 0; i < 100; i++) {
        addData();
    }
    var datas,lastdata;
    arrDate = [];
    arrData = [];
    function realtimes(zone,name) {
        zone=zone||'XC13/S';
        name=name||'T';
        var zone = zone.replace('/','');
        var realtime_IP = $('#realtime_IP').val();
        // console.dir(realtime_IP);
        console.dir(zone);
        console.dir(name);
        $.ajax({
            // url:realtime_IP+"/real/real_times?name=QS_O2_XC13S",
            url:"http://192.168.10.18/real/real_times?zone="+zone+"&name="+name,
            async:false,
            success:function(result){
                let jsonObj = $.parseJSON(result);
                objToArray(jsonObj,true);
                console.dir(arrDate);
            }
        });
    }
    function lastdata(zone,name) {
        zone=zone||'XC13/S';
        name=name||'T';
        var zone = zone.replace('/','');
        var realtime_IP = $('#realtime_IP').val();
        console.dir(zone);
        console.dir(name);
        // console.dir(realtime_IP);
        $.ajax({
            // url:realtime_IP+"/real/get_last_real?name=QS_O2_XC13S",
            // url:"http://192.168.10.18/real/get_last_real?name=QS_O2_XC13S",
            url:"http://192.168.10.18/real/get_last_real?zone="+zone+"&name="+name,
            async:false,
            success:function(result){

                // console.dir(result);
                // console.dir(name);
                let jsonObj = $.parseJSON(result);
                objToArray(jsonObj,true);
                console.dir(arrDate);
            }
        });
    }
    // realtimes();


   /* var arr = [];
    for (let i in obj) {
        //arr.push(obj[i]); //属性
        //arr.push(obj[i]); //值
        var o={};
        o[i]=obj[i];
        arr.push(o);
    }*/

    function objToArray(array,shift) {
        for (var i in array) {
            /*var o={};
            o[i]=array[i];
            arrDate.push(o);*/
            arrDate.push(i);
            arrData.push(array[i]);
        }
        if (shift) {
            //console.log(data);
            arrDate.shift();
            arrData.shift();
        }
    }
    // console.log(arr)


    //console.dir(typeof(arrdata));
    //console.dir(arrdata);
    //设置图标配置项
    myContainer.setOption({
        title:{
            text:'温度监测',
            textStyle:{
                color:'#00ffff',
                fontWeight:'normal',
                fontSize:16
            },
            padding:[15,10]
        },
        xAxis:{
            type:"category",
            boundaryGap:false,
            data:arrDate,
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        yAxis:{
            boundaryGap:[0,'50%'],
            type:'value',
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        series:[{
            name:'成交',
            type:'line',
            smooth:true, //数据光滑过度
            symbol:'none', //下一个数据点
            stack:'a',
            // areaStyle: {normal : {
            //         color:'#8cd5c2', //改变折线点的颜色
            //         lineStyle:{
            //             color:'#8cd5c2' //改变折线颜色
            //         }
            //     }},
            // itemStyle : {
            //     normal : {
            //         lineStyle:{
            //             color:'#ffffff'
            //         }
            //     }
            // },
            data:arrData
        }]
    });




    // -----------------------沉降系统----------------------------------
    var evirSett1 = echarts.init(document.getElementById('evirSett1'));
    evirSett1.setOption({
        title:{
            text:'沉降监测',
            textStyle:{
                color:'#00ffff',
                fontWeight:'normal',
                fontSize:16
            },
            padding:[15,10]
        },
        xAxis:{
            type:'category',
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        yAxis:{
            name:'拉线式位移（cm）',
            type:'value',
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        series:[{
            data:[['11:21',0],['11:22',0],['11:23',0],['11:24',0],['11:25',0],['11:26',0],['11:27',0]],
            type:'line'
        }]
    })


    var evirSett2 = echarts.init(document.getElementById('evirSett2'))
    evirSett2.setOption({
        title:{
            text:'拉线式位移',
            textStyle:{
                color:'#00ffff',
                fontWeight:400,
                fontSize:16
            }
        },
        xAxis:{
            type:'category',
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        yAxis:{
            name:'拉线式位移（cm）',
            type:'value',
            axisLine:{
                lineStyle:{
                    color:'#e4e4e4'
                }
            }
        },
        series:[{
            data:[['13:10',0],['13:11',0],['13:12',0],['13:13',0],['13:14',0],['13:15',0],['13:16',0]],
            type:'line'
        }]
    })

</script>
</body>
</html>