{__NOLAYOUT__}
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Left</title>
     <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
     <script src="__STATIC__/new/echarts.js"></script>
     <link rel="stylesheet" href="__STATIC__/new/demoOne.css">
     <link rel="stylesheet" href="__STATIC__/new/gis/dist/ol.css">
     <link rel="stylesheet" href="__STATIC__/new/gis/dist/iclient9-openlayers.css">
     <script src="__STATIC__/new/gis/dist/ol.js"></script>
     <script src="__STATIC__/new/gis/dist/iclient9-openlayers.js"></script>
     <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">

     <script src="/static/layui/layui.js"></script>
     <script src="/static/js/jquery-1.7.1.min.js"></script>
     <style>
          .galRoad{text-align: center;font-size: 20px;padding-top: 30px}
          .section{text-align: center;font-size: 15px;height: 30px;border-bottom: 1px dashed #ffffff}
          .xianShiDiv{padding: 10px}
          .xianShiDiv span{color: aquamarine;padding-left:5px}
          .div-center{
               text-align: center;
          }
          .s-e{
               font-size: 1.3rem;
               padding: 1.5%;
          }
     </style>
</head>
<body>

<!--特效-->
<div class="special">
     <div></div>
</div>
<!--top-->
<div class="mainTop">
     <!-- 管廊GIS图 -->
     <div  class='topMap mainBor' style="position: relative">
          <div id="map" style="width: 100%;height: 96%;background-color: #eeeeee"></div>
          <!--地图-->
          <div id="popu" style="display: none; height: 100%;width: 140px;position: absolute;background-color: #114c5b;z-index: 9;top: 0px;right: 0px;opacity: 0.8 ;color: white">
               <div id="galRoad" class="galRoad"></div>
               <div id="section" class="section"></div>
               <div class="xianShi">
                    <div class="xianShiDiv">温度:<span id="temN"></span>℃</div>
                    <div class="xianShiDiv">湿度:<span id="humN"></span>%</div>
                    <div class="xianShiDiv">
                         <div>氧气:<span id="oxyN"></span>%VOL</div>
                         <div>状态:<span>正常</span></div>
                    </div>
                    <div class="xianShiDiv">
                         <div>甲烷:<span id="metN"></span>PPM</div>
                         <div>状态:<span>正常</span></div>
                    </div>
                    <div class="xianShiDiv">
                         <div>H2S:<span id="HydN">0</span>%LEL</div>
                         <div>状态:<span>正常</span></div>
                    </div>
               </div>
          </div>
     </div>
     <!-- 管廊信息 -->
     <div class="topInfo">
          <!-- 信息 -->
          <div class="contentInfo mainBor">
               <div class="infoDate" id="infoDate"></div>
               <div class="infoRun">
                    <ul class="infoRunUl">
                         <li class="infoRunLi">安全运行</li>
                         <li class="infoRunNum" id="units">0</li>
                         <li class="infoRunNum" id="tens">0</li>
                         <li class="infoRunNum" id="hundreds">0</li>
                         <li class="infoRunNum" id="thousands">0</li>
                         <li class="infoRunLi">天</li>
                    </ul>
               </div>
               <div class="infoDate div-center" id="infoDty" style="font-size:1.3rem">
                    {if $Uname != '' }
                    值班：{$Uname}
                    {else/}请先登录！
                    {/if}
                    <div id="stime" class="layui-inline s-e"></div>
                    <div class="progress"><div class="progressFro"></div>
                         <div class="layui-progress" lay-filter="demo">
                              <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                         </div>
                    </div>
                    <div id="etime" class="layui-inline s-e"></div>
               </div>
          </div>
          <!-- 动力配电检测 -->
          <div class="contentEle mainBor" id="contentEle"></div>
     </div>
</div>
<!--bottm-->
<div class="mainBot">
     <div class="botUse mainBor" id="botUse"></div>
     <div class="botCall mainBor">
          <div class="callIcon" id="callIcon"></div>
          <div class="callUl">
               <div class="callTab scrollber">
                    <table class="callTable">
                         <tbody>
                         <tr>
                              <th>时间</th>
                              <th>级别</th>
                              <th>名称</th>
                              <th>位置</th>
                         </tr>
                         </tbody>
                         <tbody>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>水泵报警</th>
                              <th>YBY-001防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>开启水泵</th>
                              <th>YBY-003防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>关闭水泵</th>
                              <th>YBY-007防火分区</th>
                         </tr>

                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>风机报警</th>
                              <th>YBY-001防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>开启风机</th>
                              <th>YBY-003防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>关闭风机</th>
                              <th>YBY-007防火分区</th>
                         </tr>

                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>风机报警</th>
                              <th>YBY-001防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>开启风机</th>
                              <th>YBY-003防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>关闭风机</th>
                              <th>YBY-007防火分区</th>
                         </tr>

                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>风机报警</th>
                              <th>YBY-001防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>开启风机</th>
                              <th>YBY-003防火分区</th>
                         </tr>
                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">普通</th>
                              <th>关闭风机</th>
                              <th>YBY-007防火分区</th>
                         </tr>

                         <tr>
                              <th class="callTime"></th>
                              <th class="callGrade">设备</th>
                              <th>设备离线</th>
                              <th>YBY-004防火分区</th>
                         </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</div>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //触发事件
        element.progress('demo', '0%');
        // ajax 安全运行时间
        function safety() {
            $.get('http://192.168.10.18/bigdata/date', function(data) {
                data = JSON.parse(data);
                console.dir(data);
                $('#units').html(data.units);
                $('#tens').html(data.tens);
                $('#hundreds').html(data.hundreds);
                $('#thousands').html(data.thousands);
                $('#stime').html(data.stime);
                $('#etime').html(data.etime);
                element.progress('demo', data.per);
            });
            /*$.ajax({url:'http://localhost:8888/bigdata/date'
                ,type: 'GET'
               ,dataType:'json'
                ,async:false
                ,success:function(data){
                    data = JSON.parse(data);
                    console.dir(data);
                    $('#units').html(data.units);
                    $('#tens').html(data.tens);
                    $('#hundreds').html(data.hundreds);
                    $('#thousands').html(data.thousands);
                }});*/
        }

        $(function(){
            safety();
            setInterval(safety,60000);
        });
    });
</script>
<script src="__STATIC__/new/gis/QueryBySQL.js"></script>
<script src="__STATIC__/new/itemJS/demoOne.js"></script>
</body>
</html>