{extend name="demo_layout"/}
{block name="maincss"}
<title>Left</title>
<script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
<script src="__STATIC__/new/echarts.js"></script>
<link rel="stylesheet" href="__STATIC__/new/demoOne.css">
<link rel="stylesheet" href="__STATIC__/new/gis/dist/ol.css">
<link rel="stylesheet" href="__STATIC__/new/gis/dist/iclient9-openlayers.css">
<script src="__STATIC__/new/gis/dist/ol.js"></script>
<script src="__STATIC__/new/gis/dist/iclient9-openlayers.js"></script>
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
<script src="__STATIC__/new/gis/SecRealData.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery-1.7.1.min.js"></script>
<style>
    .galRoad{text-align: center;font-size: 20px;padding-top: 30px}
    .section{text-align: center;font-size: 15px;height: 30px;border-bottom: 1px dashed #ffffff}
    .xianShiDiv{padding: 10px}
    .xianShiDiv span{color: aquamarine;padding-left:5px}
    .div-center{
        text-align: center;
    }
    .s-e{
        font-size: 1.3rem;
        padding: 1.5%;
    }
    .progressFro{
        padding: 1.5%;
    }

    thead tr {
        background: rgba(47,69,84,0.3);
    }
    .callTab thead tr th {
        color: #00ffff;
    }
    .callTab thead,.callTab tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        height: 30px;
    }
    .callTab tbody {
        display: block;
        height:  20.3vh;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar{
        display: none;
    }
</style>
{/block}
{block name="main"}

<!--特效-->
<div class="special">
     <div></div>
</div>
<!--top-->
<div class="mainTop">
     <!-- 管廊GIS图 -->
     <div  class='topMap mainBor' style="position: relative">
          <div id="map" style="width: 100%;height: 96%;background-color: #eeeeee"></div>
          <!--地图-->

          <div id="popu" style="display: none;height:96%;width: 170px;position: absolute;top: 0;right: 0px;background-color: rgba(17,76,91,0.8);color: white">
               <div id="galRoad" class="galRoad"></div>
               <div id="section" class="section"></div>
               <!--水仓-->
               <div class="sc">
                    <div>水仓</div>
                    <div class="xianShi">
                         <div class="xianShiDiv">温度<span id="Ts"></span>°C</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">湿度<span id="Ms"></span>%</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">氧气<span id="O2s"></span>%VOL</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">甲烷<span id="CH4s"></span>%LEL</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">硫化氢<span id="H2Ss"></span>PPM</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">水位<span id="LTs"></span>CM</div>
                    </div>
               </div>
               <br>
               <hr>
               <!--电仓-->
               <div class="dc">
                    <div>电仓</div>
                    <div class="xianShi">
                         <div class="xianShiDiv">温度<span id="Td"></span>°C</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">湿度<span id="Md"></span>%</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">氧气<span id="O2d"></span>%VOL</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">甲烷<span id="CH4d"></span>%LEL</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">硫化氢<span id="H2Sd"></span>PPM</div>
                    </div>
                    <div class="xianShi">
                         <div class="xianShiDiv">水位<span id="LTd"></span>CM</div>
                    </div>
               </div>
          </div>
     </div>
     <!-- 管廊信息 -->
     <div class="topInfo">
          <!-- 信息 -->
          <div class="contentInfo mainBor">
               <div class="infoDate" id="infoDate"></div>
               <div class="infoRun">
                    <ul class="infoRunUl">
                         <li class="infoRunLi">安全运行</li>
                         <li class="infoRunNum" id="units">0</li>
                         <li class="infoRunNum" id="tens">0</li>
                         <li class="infoRunNum" id="hundreds">0</li>
                         <li class="infoRunNum" id="thousands">0</li>
                         <li class="infoRunLi">天</li>
                    </ul>
               </div>
               <div class="infoDate div-center" id="infoDty" style="font-size:1.3rem">
                    <input type="hidden" id="alarmnum" name="p_id" class="layui-input" value="{$Alarmnum}">
                    <div class="layui-inline s-e" style="padding-right: 0"> 值班：</div>
                    <div class="layui-inline s-e" style="padding-left: 0" id="nickname">－－</div>
                    <div id="stime" class="layui-inline s-e"></div>
                    <div class="progress"><div class="progressFro"></div>
                         <div class="layui-progress" lay-filter="demo">
                              <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                         </div>
                    </div>
                    <div id="etime" class="layui-inline s-e"></div>
               </div>
          </div>
          <!-- 动力配电检测 -->
          <div class="contentEle mainBor" id="contentEle"></div>
     </div>
</div>
<!--bottm-->
<div class="mainBot">
     <div class="botUse mainBor" id="botUse"></div>
     <div class="botCall mainBor">
          <div class="callIcon" id="callIcon"></div>

          <div class="callUl">
               <div class="callTab scrollber">
                    <table class="callTable">
                         <thead>
                         <tr>
                              <th>时间</th>
                              <th>级别</th>
                              <th>名称</th>
                              <th>位置</th>
                         </tr>
                         </thead>
                         <tbody id="appends">
                         {volist name="Alarms" id="vo"}
                         <tr>
                              <th class='callTime'>{$vo.alarm_time}</th>
                              <th class='callGrade'>{$vo.lvlcontent}</th>
                              <th>{$vo.cate_name}</th>
                              <th>{$vo.eqpt_site}</th>
                         </tr>
                         {/volist}
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</div>

{/block}
{block name="script"}
<script src="__STATIC__/new/gis/socket.io.js"></script>
<script>
    $('.callTime').each(function(){

        console.dir($(this).text());

        $(this).text(DateToTime($(this).text()));
    });

    // 报警类型
    var callIcon = echarts.init(document.getElementById('callIcon'));
    // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
    var socket = io('http://192.168.5.100:2120');
    // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    var uid = '2333';
    console.dir(uid);
    // socket连接后以uid登录
    socket.on('connect', function(){
        socket.emit('login', uid);
    });

    // 后端推送来消息时
    socket.on('new_msg', function(msg){

        let objs =  eval('('+msg+')');
        if(objs.reload){
            console.dir('patrol_reload');
        }else{
            let arrs = "<tbody id='appends'>";
            console.dir(objs);
            let alarms = objs.alarms;
            let alarmnum= objs.alarmnum;
            let real_alarm = objs.real_alarm;
            console.dir(real_alarm);
            for (var i in alarms) {
                /*var o={};
                o[i]=array[i];
                arrDate.push(o);*/
                var dates = DateToTime(alarms[i].alarm_time);
                arrs +=  "<tr><th class='callTime'>" +dates+ "</th><th class='callGrade'>" +alarms[i].lvlcontent+ "</th><th>" +alarms[i].cate_name+ "</th><th>" +alarms[i].eqpt_site+ "</th></tr>";
                // console.dir(alarms[i]);
            }
            arrs += "</tbody>";

            $("#appends").replaceWith(arrs);//重写如页面
            // console.log(arrs);
            arrs = '';

            let alarmoption = {
                series : [
                    {
                        data: alarmnum,
                    }
                ]
            };

            callIcon.setOption(alarmoption);
        }

    });
    // 后端推送来在线数据时
    socket.on('update_online_count', function(online_stat){
        console.log(online_stat);
    });
    function DateToTime(unixTime,type="Y-M-D H:i:s"){
        var date = new Date(unixTime * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var datetime = "";
        datetime += date.getFullYear() + type.substring(1,2);
        datetime += (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + type.substring(3,4);
        datetime += (date.getDate() < 10 ? '0'+(date.getDate()) : date.getDate());
        if (type.substring(5,6)) {
            if (type.substring(5,6).charCodeAt() > 255) {
                datetime += type.substring(5,6);
                if (type.substring(7,8)) {
                    datetime += " " + (date.getHours() < 10 ? '0'+(date.getHours()) : date.getHours());
                    if (type.substring(9,10)) {
                        datetime += type.substring(8,9) + (date.getMinutes() < 10 ? '0'+(date.getMinutes()) : date.getMinutes());
                        if (type.substring(11,12)) {
                            datetime += type.substring(10,11) + (date.getSeconds() < 10 ? '0'+(date.getSeconds()) : date.getSeconds());
                        };
                    };
                };
            }else{
                datetime += " " + (date.getHours() < 10 ? '0'+(date.getHours()) : date.getHours());
                if (type.substring(8,9)) {
                    datetime += type.substring(7,8) + (date.getMinutes() < 10 ? '0'+(date.getMinutes()) : date.getMinutes());
                    if (type.substring(10,11)) {
                        datetime += type.substring(9,10) + (date.getSeconds() < 10 ? '0'+(date.getSeconds()) : date.getSeconds());
                    };
                };
            };
        };
        return datetime;
    }
</script>

<script>





    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //触发事件
        element.progress('demo', '0%');
        // ajax 安全运行时间
        function safety() {
            $.get('http://192.168.5.100:1000/bigdata/get_data', function(data) {
                data = JSON.parse(data);
                if(data.code == '200'){
                    datas = data.data;
                    // console.dir(datas);
                    $('#units').html(datas.date_num.substr(0,1));
                    $('#tens').html(datas.date_num.substr(1,1));
                    $('#hundreds').html(datas.date_num.substr(2,1));
                    $('#thousands').html(datas.date_num.substr(3,1));
                    if(datas.nickname !== ''){
                        $('#nickname').html(datas.nickname);
                    }
                    if(datas.person_num !== ''){
                        $('#person_num').html(datas.person_num);

                    }
                    $('#stime').html(datas.stime);
                    $('#etime').html(datas.etime);
                    element.progress('demo', datas.per);
                }else{
                    $('#stime').html('--');
                    $('#etime').html('--');
                }

            });
            /*$.ajax({url:'http://localhost:8888/bigdata/date'
                ,type: 'GET'
               ,dataType:'json'
                ,async:false
                ,success:function(data){
                    data = JSON.parse(data);
                    console.dir(data);
                    $('#units').html(data.units);
                    $('#tens').html(data.tens);
                    $('#hundreds').html(data.hundreds);
                    $('#thousands').html(data.thousands);
                }});*/
        }

        $(function(){
            safety();
            setInterval(safety,60000);
        });
    });
</script>
<script src="__STATIC__/new/itemJS/demoOne.js"></script>
{/block}