<!DOCTYPE HTML>
<html>
<head>
     <title>H5STREAM VIDEO</title>
     <script src="__STATIC__/h5splayer/bootstrap.js"></script>
     <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
     <script src="__STATIC__/h5splayer/bootstrap.js"></script>
     <script src="__STATIC__/h5splayer/platform.js"></script>
     <script src="__STATIC__/h5splayer/h5splayer.js"></script>
     <script src="__STATIC__/h5splayer/h5splayerhelper.js"></script>

     <link rel = "stylesheet" type = "text/css" href = "css/h5splayer.css" />

</head>

<body>

<div class="h5videodiv1">
     <video class="h5video1" id="h5sVideo1"  autoplay webkit-playsinline playsinline>

     </video>
     <div class="playpause" id="playpause1" ></div>
</div>

</body>

<script>



    var strToken;
    strToken = GetURLParameter("token");
    if (strToken === undefined)
    {
        strToken = 'token1';
    }
    console.log("token", strToken);

    var conf1 = {
        videoid:'h5sVideo1',
        protocol: window.location.protocol, //'http:' or 'https:'
        host: window.location.host, //'localhost:8080'
        rootpath:'/', // '/'
        token:strToken,
        hlsver:'v1', //v1 is for ts, v2 is for fmp4
        session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
    };

    var v1 = new H5sPlayerHls(conf1);

    $('#h5sVideo1').parent().click(function () {
        if($(this).children(".h5video1").get(0).paused){
            $(this).children(".h5video1").get(0).play();
            if(v1 != null)
            {
                v1.disconnect();
                delete v1;
                v1 = null;
            }

            v1 = new H5sPlayerHls(conf1);

            console.log(v1);
            v1.connect();

            $(this).children(".playpause").fadeOut();
        }else{
            v1.disconnect();
            delete v1;
            v1 = null;
            $(this).children(".h5video1").get(0).pause();
            $(this).children(".playpause").fadeIn();
        }
    });




</script>

</html>