{__NOLAYOUT__}<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
     <meta charset="UTF-8">
     <title>Document</title>

     <script src="__STATIC__/new/echarts.js"></script>
     <link rel="stylesheet" href="__STATIC__/new/inde.css">

     <link rel="stylesheet" href="__STATIC__/new/gis/dist/ol.css">
     <link rel="stylesheet" href="__STATIC__/new/gis/dist/iclient9-openlayers.css">
     <script src="__STATIC__/new/gis/dist/ol.js"></script>
     <script src="__STATIC__/new/gis/dist/iclient9-openlayers.js"></script>

     <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
     <script src="__STATIC__/h5splayer/bootstrap.js"></script>

     <script src="__STATIC__/h5splayer/bootstrap.js"></script>
     <script src="__STATIC__/h5splayer/platform.js"></script>
     <script src="__STATIC__/h5splayer/h5splayer.js"></script>
     <script src="__STATIC__/h5splayer/h5splayerhelper.js"></script>
     <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">

     <script src="/static/layui/layui.js"></script>
     <!--<script src="/static/js/jquery-1.7.1.min.js"></script>-->

     <link rel = "stylesheet" type = "text/css" href = "__STATIC__/h5splayer/css/h5splayer.css" />
     <style>

          .content1 {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               height: 100%;
          }
          .content2 {
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               align-items: center;
               width: 100%;
               height: 100%;

          }

          .chart2 {
               display: inline-block;
               width: 99%;
               height: 49%;
               margin: 0 0;
               padding: 0;
               border: 1px solid #000;
               position: relative;
          }

          .vid-wrapper{
               width: 100%;
               position: relative;
               padding-bottom: 51.25%;
               height: 0;

          }

          .vid-wrapper video{
               object-fit: fill;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }

          .vid-wrapper2{
               width: 49%;
               position: relative;
               /*padding-bottom: 56.25%;*/
               height: 49%;
          }

          .vid-wrapper2 video{
               object-fit: fill;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }
          .div-center{
                text-align: center;
          }
          .s-e{
               font-size: 1.3rem;
               padding: 1.5%;
          }
          .galRoad{text-align: center;font-size: 20px;padding-top: 30px}
          .section{text-align: center;font-size: 15px;height: 30px;border-bottom: 1px dashed #ffffff}
          .xianShiDiv{padding: 10px}
          .xianShiDiv span{color: aquamarine;padding-left:5px}
          .borTitle select{
               height: 20px;
               padding: 0 1%;
          }
          button, input, optgroup, option, select, textarea{
               font-size: 30%;
          }
          .callTab {
               height: 17vh;
          }
     </style>
</head>
<body class="backg">
     <div class="wrap">

     <!--一级标签-->
     <div class='main' style="overflow: hidden">
          <div class="mainMiddle">
               <div class='middleLeft'>
                    <div class="contentTop mainBor">
                         <div class="infoDate" id="infoDate"></div>
                         <div class="infoRun">
                              <ul class="infoRunUl">
                                   <li class="infoRunLi">安全运行</li>
                                   <li class="infoRunNum" id="units">0</li>
                                   <li class="infoRunNum" id="tens">0</li>
                                   <li class="infoRunNum" id="hundreds">0</li>
                                   <li class="infoRunNum" id="thousands">0</li>
                                   <li class="infoRunLi">天</li>
                              </ul>
                         </div>
                         <div class="infoDate div-center" id="infoDty" style="font-size:1.3rem">
                              {if $Uname != '' }
                              值班：{$Uname}
                              {else/}请先登录！
                              {/if}
                             <div id="stime" class="layui-inline s-e"></div>
                             <div class="progress"><div class="progressFro"></div>
                                 <div class="layui-progress" lay-filter="demo">
                                     <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                 </div>
                             </div>
                             <div id="etime" class="layui-inline s-e"></div>
                         </div>
                    </div>
                    <div class="contentBottom mainBor marginTop" id="contentEle">
                    <!--动力配电-->
                    </div>
               </div>
               <div  class='middleMid mainBor' style="position: relative">
                    <div id="map" style="width: 100%;height: 100%;background-color: #eeeeee"></div>
                    <!--地图-->
                    <div id="popu" style="display: none; height: 100%;width: 140px;position: absolute;background-color: #114c5b;z-index: 9;top: 0px;right: 0px;opacity: 0.8 ;color: white">
                         <div id="galRoad" class="galRoad"></div>
                         <div id="section" class="section"></div>
                         <div class="xianShi">
                              <div class="xianShiDiv">温度:<span id="temN"></span>℃</div>
                              <div class="xianShiDiv">湿度:<span id="humN"></span>%</div>
                              <div class="xianShiDiv">
                                   <div>氧气:<span id="oxyN"></span>%VOL</div>
                                   <div>状态:<span>正常</span></div>
                              </div>
                              <div class="xianShiDiv">
                                   <div>甲烷:<span id="metN"></span>PPM</div>
                                   <div>状态:<span>正常</span></div>
                              </div>
                              <div class="xianShiDiv">
                                   <div>H2S:<span id="HydN">0</span>%LEL</div>
                                   <div>状态:<span>正常</span></div>
                              </div>
                         </div>
                    </div>
               </div>

               <div class='middleRight'>
                    <div class="contentBottom mainBor " id="container">
                         <!--摄像头-->
                         <div class="content1" >
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo2"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo3"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo4"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo5"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                         </div>
                    </div>
                    <div class="contentTop mainBor marginTop">
                        <div class="borTitle" style="font-size:16px">
                            环境监测
                            <select style="width: 65px;" onchange="select(this.value)">
                                <option value="1">温度</option>
                                <option value="2">湿度</option>
                                <option value="3">氧气</option>
                                <option value="4">硫化氢</option>
                                <option value="5">甲烷</option>
                            </select>
                        </div>
                        <div class="borCont" id="borCont" style="height: 18vh"></div>
                    </div>
               </div>
          </div>
          <div class="mainBottom">
               <div class='bottomLeft '>
                    <div class="contentTop2 mainBor">
                         <div class="robotHide" style="display:none;">
                              <div class="content2">
                                   <div class="chart2">
                                        <div class="vid-wrapper">
                                             <video class="h5video" id="h5sVideo1" autoplay webkit-playsinline playsinline>
                                             </video>
                                             <div class="playpause"></div>
                                        </div>

                                   </div>
                                   <div class="chart2">
                                        <div class="vid-wrapper">
                                             <video class="h5video" id="h5sVideo6" autoplay webkit-playsinline playsinline>
                                             </video>
                                             <div class="playpause"></div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <p class="robot">机器人</p>
                         <div class="robotTob scrollber">
                              <table class="robotToble">
                                   <tr>
                                        <th class="robotClass">已完成</th>
                                        <th id="date1"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th >
                                             <!--<img src="../image/vidicon-fill.png" width="18" height="20" alt="/">-->
                                        </th>
                                   </tr>
                                   <tr>
                                        <th class="robotClass">进行中</th>
                                        <th id="date2"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th onclick="aaa()" class="vidicon">
                                             <img src="__STATIC__/new/image/vidicon-fill.png" width="18" height="20" alt="/">
                                        </th>
                                   </tr>
                                   <tr>
                                        <th class="robotClass">待执行</th>
                                        <th  id="date3"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th>
                                             <!--<img src="../image/vidicon-fill.png" width="18" height="20" alt="/">-->
                                        </th>
                                   </tr>
                              </table>
                         </div>
                    </div>
                    <div class="contentBottom2 mainBor marginTop" id="contentFirm">

                    </div>
               </div>
               <div class='bottomMid mainBor'>
                    <div class="callIcon" id="callIcon"></div>
                    <div class="callUl">
                         <div class="callTab scrollber">
                              <table class="callTable">
                                   <tbody>
                                        <tr>
                                             <th>时间</th>
                                             <th>级别</th>
                                             <th>名称</th>
                                             <th>位置</th>
                                        </tr>
                                   </tbody>
                                   <tbody id="appends">
                                   {volist name="Alarms" id="vo"}
                                   <tr>
                                        <th class='callTime'>{$vo.alarm_time}</th>
                                        <th class='callGrade'>{$vo.cate_code}</th>
                                        <th>{$vo.id}</th>
                                        <th>{$vo.alarm_time}</th>
                                   </tr>
                                   {/volist}
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>

               <div class='bottomDle mainBor'>

                   <div class="firmContent" style="width: 100%;height:100%;">

                       <div id="main" style="width: 100%;height:100%;margin-right: 2.5vh"></div>
                   </div>
               </div>
               <div class='bottomRight'>
                    <div class="contentTop2 mainBor">
                         <div class="robot">
                              巡查巡检
                              <ul class="borUl">
                                   <li class="borPatrol borUlClass" onclick="stocks()">已完成</li>
                                   <li class="borPatrol" onclick="underway()">进行中</li>
                                   <!--<li class="borPatrol" onclick="contract()">待执行</li>-->
                              </ul>
                         </div>
                         <div class="robotTob scrollber" style="height: 82px">
                             <table class="robotToble">
                                 {volist name="Patrols" id="vo"}
                                 <tr>
                                     <th>{$vo.log_date}</th>
                                     <th>{$vo.str_name}</th>
                                     <th>{$vo.user_names}</th>
                                 </tr>
                                 {/volist}

                             </table>
                         </div>
                    </div>
                    <div class="contentBottom2 mainBor marginTop" id="botUse"></div>
               </div>
          </div>
     </div>
     </div>
     <script src="__STATIC__/new/gis/socket.io.js"></script>
     <script>
         // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
         var socket = io('http://192.168.10.18:2120');
         // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
         var uid = '2333';
         console.dir(uid);
         // socket连接后以uid登录
         socket.on('connect', function(){
             socket.emit('login', uid);
         });
         // 后端推送来消息时
         // 后端推送来消息时
         socket.on('new_msg', function(msg){
             var arrs = "<tbody id='appends'>";
             var objs =  eval('('+msg+')');

             for (var i in objs) {
                 /*var o={};
                 o[i]=array[i];
                 arrDate.push(o);*/
                 var dates = DateToTime(objs[i].alarm_time);
                 arrs +=  "<tr><th class='callTime'>" +dates+ "</th><th class='callGrade'>" +objs[i].cate_code+ "</th><th>" +objs[i].id+ "</th><th>" +objs[i].alarm_time+ "</th></tr>";
                 console.dir(objs[i]);
             }
             arrs += "</tbody>";



             $("#appends").replaceWith(arrs);//重写如页面
             console.log(arrs);
             arrs = '';

         });
         // 后端推送来在线数据时
         socket.on('update_online_count', function(online_stat){
             console.log(online_stat);
         });


     </script>

     <script>

         var myChart = echarts.init(document.getElementById('main'));

         var labelRight = {
             normal: {
                 position: 'right'
             }
         };
         var labelleft = {
             normal: {
                 position: 'left'
             }
         };

         option = {
             title: {
                 text: '入廊企业',
                 textStyle:{
                     color:'#00ffff',
                     fontWeight:'normal',
                     fontSize:16
                 },
                 padding:[15,10]
             },
             tooltip : {
                 trigger: 'axis',
                 axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                 }
             },
             grid: {

                 bottom: 30
             },
             xAxis: {
                 type : 'value',
                 position: 'top',
                 splitLine: {lineStyle:{type:'dashed'}},
                 show:false
             },
             yAxis: {
                 type : 'category',
                 axisLine: {show: false},
                 axisLabel: {show: false},
                 axisTick: {show: false},
                 splitLine: {show: false},
                 data : [ '中国电信正定分公司 8.996km','中国联通集团 8.2km', '正定县供电分公司 34.867km', '中国移动通信集团 10.5km', '广电集团有限公司 10.2km', '新奥燃气有限公司 2.4km', '正定新区水务有限公司 21.705km', '石家庄正定新区惠新供热有限公司 27.718km', '石家庄市供电公司 14.394km']
             },
             tooltip:{

             },
             formatter: function (params) {
                 // console.dir(typeof(params.value));
                 // var res  =  params.name;
                 var res  =  '';
                 res += '<style>td{padding:5px;}</style><table>';
                 res += '<tr><td>'+params.seriesName+':</td><td>'+Math.abs(params.value)+' km';
                 res += '</table>';
                 // res += '<style>td{padding:5px;}</style><table>';
                 // for(var i=0;i<params.length-1;i++){
                 //     res += '<tr><td>'+params.seriesName+'</td><td>'+params[i].value;
                 //     res += '</td><td>'+params.data.datas[0];
                 // }
                 // res += '<tr><td>'+params[params.length-1].seriesName+'</td><td>'+params[params.length-1].value+'</td></tr>';
                 // res += '</table>';
                 return res;

             },
             series : [
                 {
                     name:'长度',
                     type:'bar',
                     stack: '总量',
                     barWidth: 20,
                     itemStyle: {
                         normal: {
                             color: new echarts.graphic.LinearGradient(1, 0, 0, 0,
                                 [{
                                     offset: 0,
                                     color: "#1268f3" // 0% 处的颜色
                                 }, {
                                     offset: 0.6,
                                     color: "#08a4fa" // 60% 处的颜色
                                 }, {
                                     offset: 1,
                                     color: "#01ccfe" // 100% 处的颜色
                                 }], false),
                             label: {
                                 show: false, //开启显示
                                 position: 'top', //在上方显示
                                 textStyle: { //数值样式
                                     color: 'white',
                                     fontSize: 14
                                 }
                             }
                         }

                     },
                     label: {
                         normal: {
                             show: true,
                             formatter: '{b}'
                         }
                     },

                     data:[
                         {value: -8.996, label: labelRight},
                         {value: 8.2, label: labelleft},
                         {value: -34.867, label: labelRight},
                         {value: 10.5, label: labelleft},
                         {value: -10.2, label: labelRight},
                         {value: 2.4, label: labelleft},
                         {value: -21.705, label: labelRight},
                         {value: 27.718, label: labelleft},
                         {value: -14.394, label: labelRight},
                     ]
                 }
             ]
         };

         myChart.setOption(option);

         layui.use('element', function(){
             var $ = layui.jquery
                 ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
             //触发事件
             element.progress('demo', '0%');
             // ajax 安全运行时间
             function safety() {
                 $.get('http://192.168.10.18/bigdata/date', function(data) {
                     data = JSON.parse(data);
                     console.dir(data);
                     $('#units').html(data.units);
                     $('#tens').html(data.tens);
                     $('#hundreds').html(data.hundreds);
                     $('#thousands').html(data.thousands);
                     $('#stime').html(data.stime);
                     $('#etime').html(data.etime);
                     element.progress('demo', data.per);
                 });
                 /*$.ajax({url:'http://localhost:8888/bigdata/date'
                     ,type: 'GET'
                    ,dataType:'json'
                     ,async:false
                     ,success:function(data){
                         data = JSON.parse(data);
                         console.dir(data);
                         $('#units').html(data.units);
                         $('#tens').html(data.tens);
                         $('#hundreds').html(data.hundreds);
                         $('#thousands').html(data.thousands);
                     }});*/
             }

             $(function(){
                 safety();
                 setInterval(safety,60000);
             });
         });


         if (H5siOS() === true
             || H5sSafariBrowser() === true)
         {
             $('#h5sVideo1').prop("controls", true);
             $('#h5sVideo2').prop("controls", true);
             $('#h5sVideo3').prop("controls", true);
             $('#h5sVideo4').prop("controls", true);
             $('#h5sVideo5').prop("controls", true);
             $('#h5sVideo6').prop("controls", true);
         }

         var conf1 = {
             videoid:'h5sVideo1',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'a3db',
             //streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login

         };
         var conf2 = {
             videoid:'h5sVideo2',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'384c',
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf3 = {
             videoid:'h5sVideo3',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'e383',
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf4 = {
             videoid:'h5sVideo4',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'677f',
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf5 = {
             videoid:'h5sVideo5',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'9d51',
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf6 = {
             videoid:'h5sVideo6',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.10.18:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'0098',
             //streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };

         var v1 = H5sPlayerCreate(conf1);
         var v2 = H5sPlayerCreate(conf2);
         var v3 = H5sPlayerCreate(conf3);
         var v4 = H5sPlayerCreate(conf4);
         var v5 = H5sPlayerCreate(conf5);
         var v6 = H5sPlayerCreate(conf6);

         $('#h5sVideo1').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v1 != null)
                 {
                     v1.disconnect();
                     delete v1;
                     v1 = null;
                 }

                 v1 = H5sPlayerCreate(conf1);

                 console.log(v1);
                 v1.connect();

                 $(this).children(".playpause").fadeOut();
             }else{
                 v1.disconnect();
                 delete v1;
                 v1 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo2').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v2 != null)
                 {
                     v2.disconnect();
                     delete v2;
                     v2 = null;
                 }

                 v2 = H5sPlayerCreate(conf2);

                 console.log(v2);
                 v2.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v2.disconnect();
                 delete v2;
                 v2 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo3').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v3 != null)
                 {
                     v3.disconnect();
                     delete v3;
                     v3 = null;
                 }

                 v3 = H5sPlayerCreate(conf3);

                 console.log(v3);
                 v3.connect();

                 $(this).children(".playpause").fadeOut();
             }else{
                 v3.disconnect();
                 delete v3;
                 v3 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo4').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v4 != null)
                 {
                     v4.disconnect();
                     delete v4;
                     v4 = null;
                 }

                 v4 = H5sPlayerCreate(conf4);

                 console.log(v4);
                 v4.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v4;
                 v4 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo5').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v5 != null)
                 {
                     v5.disconnect();
                     delete v5;
                     v5 = null;
                 }

                 v5 = H5sPlayerCreate(conf5);

                 console.log(v5);
                 v5.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v5;
                 v5 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });
         $('#h5sVideo6').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v6 != null)
                 {
                     v6.disconnect();
                     delete v6;
                     v6 = null;
                 }

                 v6 = H5sPlayerCreate(conf6);

                 console.log(v6);
                 v6.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v6;
                 v6 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });



     </script>
<!--     <script src="__STATIC__/new/gis/index.js"></script>-->
     <script src="__STATIC__/new/itemJS/index.js"></script>
     <script src="__STATIC__/new/gis/QueryBySQL.js"></script>
</body>

</html>
