{__NOLAYOUT__}<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
     <meta charset="UTF-8">
     <title>Document</title>


     <link rel="stylesheet" href="__STATIC__/new/inde.css">

     <link rel="stylesheet" href="__STATIC__/new/gis/dist/ol.css">
     <link rel="stylesheet" href="__STATIC__/new/gis/dist/iclient9-openlayers.css">
     <script src="__STATIC__/h5splayer/jquery-3.1.1.js"></script>
     <script src="__STATIC__/new/echarts.js"></script>
     <script src="__STATIC__/new/gis/dist/ol.js"></script>
     <script src="__STATIC__/new/gis/dist/iclient9-openlayers.js"></script>


     <script src="__STATIC__/h5splayer/bootstrap.js"></script>

     <!--<script src="__STATIC__/h5splayer/bootstrap.js"></script>-->
     <script src="__STATIC__/h5splayer/platform.js"></script>
     <script src="__STATIC__/h5splayer/h5splayer.js"></script>
     <script src="__STATIC__/h5splayer/h5splayerhelper.js"></script>
     <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
     <!--<script src="__STATIC__/new/gis/SecRealData.js"></script>-->
     <script src="/static/layui/layui.js"></script>
     <!--<script src="/static/js/jquery-1.7.1.min.js"></script>-->

     <link rel = "stylesheet" type = "text/css" href = "__STATIC__/h5splayer/css/h5splayer.css" />
     <style>

          .content1 {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               height: 100%;
          }
          .content2 {
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               align-items: center;
               width: 100%;
               height: 100%;

          }

          .chart2 {
               display: inline-block;
               width: 99%;
               height: 49%;
               margin: 0 0;
               padding: 0;
               border: 1px solid #000;
               position: relative;
          }

          .vid-wrapper{
               width: 100%;
               position: relative;
               padding-bottom: 51.25%;
               height: 0;

          }

          .vid-wrapper video{
               object-fit: fill;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }

          .vid-wrapper2{
               width: 49%;
               position: relative;
               /*padding-bottom: 56.25%;*/
               height: 49%;
          }

          .vid-wrapper2 video{
               object-fit: fill;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
          }
          .div-center{
                text-align: center;
          }
          .s-e{
               font-size: 1.3rem;
               padding: 1.5%;
          }
          .progressFro{
               padding: 1.5%;
          }
          .galRoad{text-align: center;font-size: 20px;padding-top: 20px}
          .section{text-align: center;font-size: 15px;height: 30px;border-bottom: 1px dashed #ffffff}
          .xianShiDiv{padding: 5px}
          .xianShiDiv span{color: aquamarine;padding-left:5px}
          .borTitle select{
               height: 20px;
               padding: 0 1%;
          }
          button, input, optgroup, option, select, textarea{
               font-size: 30%;
          }
          .callTab {
               height: 17vh;
          }
          thead tr {
              background: rgba(47,69,84,0.3);
          }
          .callTab thead tr th {
              color: #00ffff;
          }
          .callTab thead,.callTab tbody tr {
              display: table;
              width: 100%;
              table-layout: fixed;
              height: 30px;
          }
          .callTab tbody {
              display: block;
              height:  15.3vh;
              overflow-y: scroll;
          }
          ::-webkit-scrollbar{
              display: none;
          }

          .patrolTob{
              width:90%;
              height:10vh;
              margin:0 auto;
              position:relative;
              top:-10px;
              overflow-y: auto;
              visibility: hidden;
              display: none;
          }
          .isshow{
              visibility: visible;
              display: block;
          }
     </style>
</head>
<body class="backg">
     <div class="wrap">
     <!--一级标签-->
     <div class='main' style="overflow: hidden">
          <div class="mainMiddle">
               <div class='middleLeft'>
                    <div class="contentTop mainBor">
                         <div class="infoDate" id="infoDate"></div>
                         <div class="infoRun">
                              <ul class="infoRunUl">
                                   <li class="infoRunLi">安全运行</li>
                                   <li class="infoRunNum" id="units">0</li>
                                   <li class="infoRunNum" id="tens">0</li>
                                   <li class="infoRunNum" id="hundreds">0</li>
                                   <li class="infoRunNum" id="thousands">0</li>
                                   <li class="infoRunLi">天</li>
                              </ul>
                         </div>
                         <div class="infoDate div-center" id="infoDty" style="font-size:1.3rem">
                             <input type="hidden" id="alarmnum" name="p_id" class="layui-input" value="{$Alarmnum}">
                             <div class="layui-inline s-e" style="padding-right: 0"> 值班：</div>
                             <div class="layui-inline s-e" style="padding-left: 0" id="nickname">－－</div>
                             <div id="stime" class="layui-inline s-e"></div>
                             <div class="progress"><div class="progressFro"></div>
                                 <div class="layui-progress" lay-filter="demo">
                                     <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                 </div>
                             </div>
                             <div id="etime" class="layui-inline s-e"></div>
                         </div>
                    </div>
                    <div class="contentBottom mainBor marginTop" id="contentEle">
                    <!--动力配电-->
                    </div>
               </div>
               <div  class='middleMid mainBor' style="position: relative">
                    <div id="map" style="width: 100%;height: 100%;background-color: #eeeeee"></div>
                    <!--地图-->
                   <div id="popu" style="display: none;height: 100%;width: 160px;position: absolute;top: 0;right: 0px;background-color: rgba(17,76,91,0.8);color: white">
                       <div id="galRoad" class="galRoad"></div>
                       <div id="section" class="section"></div>
                       <!--水仓-->
                       <div class="sc">
                           <div>水仓</div>
                           <div class="xianShi">
                               <div class="xianShiDiv">温度<span id="Ts"></span>°C</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">湿度<span id="Ms"></span>%</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">氧气<span id="O2s"></span>%VOL</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">甲烷<span id="CH4s"></span>%LEL</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">硫化氢<span id="H2Ss"></span>PPM</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">水位<span id="LTs"></span>CM</div>
                           </div>
                       </div>
                       <br>
                       <hr>
                       <!--电仓-->
                       <div class="dc">
                           <div>电仓</div>
                           <div class="xianShi">
                               <div class="xianShiDiv">温度<span id="Td"></span>°C</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">湿度<span id="Md"></span>%</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">氧气<span id="O2d"></span>%VOL</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">甲烷<span id="CH4d"></span>%LEL</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">硫化氢<span id="H2Sd"></span>PPM</div>
                           </div>
                           <div class="xianShi">
                               <div class="xianShiDiv">水位<span id="LTd"></span>CM</div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class='middleRight'>
                    <div class="contentBottom mainBor " id="container">
                         <!--摄像头-->
                         <div class="content1" >
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo2"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo3"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo4"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                              <!--<div class="chart">-->
                                   <div class="vid-wrapper2">
                                        <video class="h5video" style="width: 100%;height: 100%;" id="h5sVideo5"  autoplay webkit-playsinline playsinline>

                                        </video>
                                        <div class="playpause"></div>
                                   </div>
                              <!--</div>-->
                         </div>
                    </div>
                    <div class="contentTop mainBor marginTop">
                        <div class="borTitle" style="font-size:16px">
                            环境监测
                            <select style="width: 65px;" onchange="select(this.value)">
                                <option value="1">温度</option>
                                <option value="2">湿度</option>
                                <option value="3">氧气</option>
                                <option value="4">硫化氢</option>
                                <option value="5">甲烷</option>
                            </select>
                        </div>
                        <div class="borCont" id="borCont" style="height: 18vh"></div>
                    </div>
               </div>
          </div>
         <input type="hidden" id="videos" name="videos" class="layui-input" value="{$Videos}">
          <div class="mainBottom">
               <div class='bottomLeft '>
                    <div class="contentTop2 mainBor">
                         <div class="robotHide" style="display:none;">
                              <div class="content2">
                                   <div class="chart2">
                                        <div class="vid-wrapper">
                                             <video class="h5video" id="h5sVideo1" autoplay webkit-playsinline playsinline>
                                             </video>
                                             <div class="playpause"></div>
                                        </div>

                                   </div>
                                   <div class="chart2">
                                        <div class="vid-wrapper">
                                             <video class="h5video" id="h5sVideo6" autoplay webkit-playsinline playsinline>
                                             </video>
                                             <div class="playpause"></div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <p class="robot">机器人</p>
                         <div class="robotTob scrollber">
                              <table class="robotToble">
                                   <tr>
                                        <th class="robotClass">已完成</th>
                                        <th id="date1"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th >
                                             <!--<img src="../image/vidicon-fill.png" width="18" height="20" alt="/">-->
                                        </th>
                                   </tr>
                                   <tr>
                                        <th class="robotClass">进行中</th>
                                        <th id="date2"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th onclick="aaa()" class="vidicon">
                                             <img src="__STATIC__/new/image/vidicon-fill.png" width="18" height="20" alt="/">
                                        </th>
                                   </tr>
                                   <tr>
                                        <th class="robotClass">待执行</th>
                                        <th  id="date3"></th>
                                        <th>新城大街</th>
                                        <th>挂轨机器人</th>
                                        <th>
                                             <!--<img src="../image/vidicon-fill.png" width="18" height="20" alt="/">-->
                                        </th>
                                   </tr>
                              </table>
                         </div>
                    </div>
                    <div class="contentBottom2 mainBor marginTop" id="contentFirm">

                    </div>
               </div>
               <div class='bottomMid mainBor'>
                    <div class="callIcon" id="callIcon"></div>
                    <div class="callUl">
                         <div class="callTab scrollber">
                              <table class="callTable">
                                   <thead>
                                        <tr>
                                             <th>时间</th>
                                             <th>级别</th>
                                             <th>名称</th>
                                             <th>位置</th>
                                        </tr>
                                   </thead>
                                   <tbody id="appends">
                                   {volist name="Alarms" id="vo"}
                                   <tr>
                                        <th class='callTime'>{$vo.alarm_time}</th>
                                        <th class='callGrade'>{$vo.lvlcontent}</th>
                                        <th>{$vo.cate_name}</th>
                                        <th>{$vo.eqpt_site|substr=0,11}</th>
                                   </tr>
                                   {/volist}
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>

               <div class='bottomDle mainBor'>

                   <div class="firmContent" style="width: 100%;height:100%;">

                       <div id="main" style="width: 100%;height:100%;margin-right: 2.5vh"></div>
                   </div>
               </div>
               <div class='bottomRight'>
                   <div class="contentRobot mainBor">
                       <div class="robot">
                           巡查巡检
                           <ul class="borUl">
                               <li class="borPatrol borUlClass" id="one">已完成</li>
                               <li class="borPatrol" id="two">进行中</li>
                               <li class="borPatrol" id="three">待执行</li>
                           </ul>
                       </div>
                       <div class="patrolTob scrollber one isshow">
                           <table class="robotToble" id="patrol_logs">


                           </table>
                       </div>
                       <div class="patrolTob scrollber two">
                           <table class="robotToble" id="patroling">

                           </table>
                       </div>
                       <div class="patrolTob scrollber three">
                           <table class="robotToble" id="patrols">

                           </table>
                       </div>
                   </div>
                    <div class="contentBottom2 mainBor marginTop" id="botUse"></div>
               </div>
          </div>
     </div>
     </div>
     <script src="__STATIC__/new/gis/socket.io.js"></script>
     <script>
         var map;
         var url;
         var gis_arr = [];
         $(function () {
             // alert('11');

             url = "http://192.168.5.100:8090/iserver/services/map-zhengDing/rest/maps/zhengDing";
             map = new ol.Map({
                 target: 'map',
                 view: new ol.View({
                     center: [114.62 , 38.14],
                     zoom: 14,
                     maxZoom:20,
                     minZoom:12,
                     projection: 'EPSG:4326'
                 })
             });

//获取坐标系统
// ol.View.getProjection();
             var layer = new ol.layer.Tile({
                 source: new ol.source.TileSuperMapRest({
                     url: url,
                     wrapX: true
                 }),
                 projection: 'EPSG:4326'
             });
             map.addLayer(layer);

             query();

             // 鼠标事件
             var stylesOptions = {
                 url: url,
                 view: map.getView()
             };
             var sections;
             var vectorTileStyles = new ol.supermap.VectorTileStyles(stylesOptions);

             var Ts,Ms,O2s,CH4s,H2Ss,LTs,Td,Md,O2d,CH4d,H2Sd,LTd,Section,urld,urls,urlT = 'http://192.168.5.100:1000/real/real_time';
             map.on('pointermove',function (e) {
                 if(typeof(feature)== 'undefined'){
                     $('#popu').css('display','none');
                 }
                 var features = map.forEachFeatureAtPixel(e.pixel,function (feature) {

                     //            console.log(feature);
                     if(sections !== feature.N.Section){
                         $('#popu').css("display","block");
                         Section = feature.N.Section;
                         urls = urlT+'?zone='+Section+'S';
                         urld = urlT+'?zone='+Section+'D';
                         Ts = 'T_'+Section+'S';
                         Ms = 'M_'+Section+'S';
                         O2s = 'O2_'+Section+'S';
                         CH4s = 'CH4_'+Section+'S';
                         H2Ss = 'H2S_'+Section+'S';
                         LTs = 'LT_'+Section+'S';

                         Td = 'T_'+Section+'D';
                         Md = 'M_'+Section+'D';
                         O2d = 'O2_'+Section+'D';
                         CH4d = 'CH4_'+Section+'D';
                         H2Sd = 'H2S_'+Section+'D';
                         LTd = 'LT_'+Section+'D';
                         // console.log(Ts);
                         // console.log(Section);


                         $("#galRoad").html(feature.N.Name);
                         $("#section").html(Section);
                         //                请求水仓
                         $.ajax({
                             url:urls,
                             async:true,
                             success:function(result){
                                 var obj = eval('('+result+')');
                                 Ts = 'T_'+feature.N.Section+'S';
                                 if (obj.length !==0){
                                     $("#Ts").html(obj[Ts]);
                                     $("#Ms").html(obj[Ms]);
                                     $("#O2s").html(obj[O2s]);
                                     $("#CH4s").html(obj[CH4s]);
                                     $("#H2Ss").html(obj[H2Ss]);
                                     $("#LTs").html(obj[LTs]);
                                 }else {
                                     $("#Ts").html("--");
                                     $("#Ms").html("--");
                                     $("#O2s").html("--");
                                     $("#CH4s").html("--");
                                     $("#H2Ss").html("--");
                                     $("#LTs").html("--");
                                 }


                             }
                         });
                         //                请求电仓
                         $.ajax({
                             url:urld,
                             async:true,
                             success:function(result){
                                 var obj = eval('('+result+')');

                                 if (obj.length !==0){
                                     $("#Td").html(obj[Td]);
                                     $("#Md").html(obj[Md]);
                                     $("#O2d").html(obj[O2d]);
                                     $("#CH4d").html(obj[CH4d]);
                                     $("#H2Sd").html(obj[H2Sd]);
                                     $("#LTd").html(obj[LTd]);
                                 }else {
                                     $("#Td").html("--");
                                     $("#Md").html("--");
                                     $("#O2d").html("--");
                                     $("#CH4d").html("--");
                                     $("#H2Sd").html("--");
                                     $("#LTd").html("--");
                                 }

                             }
                         });
                     }
                     //            sections = feature.N.Section;
                     // alert(feature.N.Section);
                     // alert(feature.N.Section);

                     // console.log(e.pixel);
                     // var x = e.pixel[0]+"px";
                     // var y = e.pixel[1]+'px';
                     // popu.style.top = y;
                     // popu.style.left = x;
                     // // vectorTileStyles.dispatchEvent({type: 'featureSelected',
                     //     selectedId: feature.getProperties().id,
                     //     layerName: feature.getProperties().layerName
                     // });
                     return true;
                 },{hitTolerance:5})});


             // SQL查询
             function query() {
                 var param = new SuperMap.QueryBySQLParameters({
                     queryParams: {
                         name: "gallery_L@zhengDing.1",
                         // attributeFilter: "NAME = 新城大街",
                         fields:["Name",'Section']
                     }
                 });
                 new ol.supermap.QueryService(url).queryBySQL(param, function (serviceResult) {
                     // console.log('111');
                     // console.log(serviceResult);
                     /*console.log(serviceResult.result.recordsets[0].features.forEach);
                     console.log(serviceResult.result.recordsets[0].features.features[0].properties.Section);*/

                     var vectorSource = new ol.source.Vector({
                         features: (new ol.format.GeoJSON()).readFeatures(serviceResult.result.recordsets[0].features),
                         wrapX: false,
                     });
                     // console.log(vectorSource);
                     resultLayer = new ol.layer.Vector({
                         source: vectorSource
                     });
                     map.addLayer(resultLayer);
                 });
             }
             patrol_reload();
         });

         function return_obj() {
             obj=new Object();
             obj.map = map;
             obj.gis_arr = gis_arr;
             return obj;
         }

         // return_obj();
         function codeChangeLay(data) {
             var namelayer;
             switch (data){
                 case '4'||'2':
                     namelayer = 'Camera_P';
                     break;
                 case '10':
                     namelayer = 'RQBJ_P';
                     break;
                 case '29':
                     namelayer = 'H2S_P';
                     break;
                 case '9':
                     namelayer = 'TX_P';
                     break;
                 case '8':
                     namelayer = 'IR_P';
                     break;
                 case '13':
                     namelayer = 'MQ_P';
                     break;
                 case '14':
                     namelayer = 'DK_P';
                     break;
                 case '16':
                     namelayer = 'MS_P';
                     break;
                 case '86':
                     namelayer = 'S_P';
                     break;
                 case '87':
                     namelayer = 'SGBJ_P';
                     break;
                 case '89':
                     namelayer = 'SYDL_P';
                     break;
                 case '90':
                     namelayer = 'CW_P';
                     break;
                 case '17':
                     namelayer = 'MCKG_P';
                     break;
                 case '96':
                     namelayer = 'GFMH_P';
                     break;
                 case '94':
                     namelayer = 'JZDY_P';
                     break;
                 case '93':
                     namelayer = 'FPD_P';
                     break;
                 case '27':
                     namelayer = 'WSD_P';
                     break;
                 case '30':
                     namelayer = 'O2_P';
                     break;
                 case '28':
                     namelayer = 'CH4_P';
                     break;
                 case '31':
                     namelayer = 'SWJ_P';
                     break;
                 case '49':
                     namelayer = 'FHFS_P';
                     break;
                 case '50':
                     namelayer = 'FHFP_P';
                     break;
                 case '44'||'51'||'52':
                     namelayer = 'FJ_P';
                     break;
                 case '110':
                     namelayer = 'PUMP_P';
                     break;
                 case '57'||'58':
                     namelayer = 'AP_P';
                     break;
                 case '61':
                     namelayer = 'AL_P';
                     break;
                 case '63':
                     namelayer = 'AP_P';
                     break;
                 case '64':
                     namelayer = 'UPS_P';
                     break;
                 case '22':
                     namelayer = 'JQR_P';
                     break;
                 case '83':
                     namelayer = 'JLSZ_P';
                     break;
                 case '82':
                     namelayer = 'QJ_P';
                     break;
                 case '80':
                     namelayer = 'LXWY_P';
                     break;
                 case '81':
                     namelayer = 'SJCJ_P';
                     break;
                 case '68':
                     namelayer = 'WXAP_P';
                     break;
                 case '42':
                     namelayer = 'IPDH_P';
                     break;
                 default:

             }
             var queryName = namelayer+"@zdSheBei#4";
             return queryName;
         }

         function query_alarm(alarmData) {
             var alarmData = alarmData;

             var section = alarmData.zone.split('/')[0];
             var queryName = codeChangeLay(alarmData.cate_code);
             var param = new SuperMap.QueryBySQLParameters({
                 queryParams: {
                     name: queryName,
                     attributeFilter: "Section='"+section+"'"
                 }
             });
             new ol.supermap.QueryService(url).queryBySQL(param, function (serviceResult) {
                 var features = (new ol.format.GeoJSON()).readFeatures(serviceResult.result.recordsets[0].features);
                 var iconStyle = new ol.style.Style({
                     image: new ol.style.Icon(({
                         imgSize:[32,32],
                         anchor: [0.5, 0.5],
                         src: '../../../static/new/image/gis_alarm.png',
//                    scale:0.1
                     }))
                 });
                 for (var i = 0; i < features.length; i++) {
                     features[i].setStyle(iconStyle);
                 }
                 var vectorSource = new ol.source.Vector({
                     features: features,
                     wrapX: false
                 });
                 let name = "layer_"+alarmData.id;
                 gis_arr[name] = new ol.layer.Vector({
                     source: vectorSource
                 });
                 map.addLayer(gis_arr[name]);
             });
         }


        //巡查巡检 标签切换
         $('.borPatrol').click(function(){

             var id= $(this).attr('id');
             $('.borPatrol').removeClass('borUlClass');
             $(this).addClass('borUlClass');
             if ( id == 'one')
             {
                 $('.patrolTob').removeClass('isshow');
                 $(".one").addClass('isshow');
             }
             if ( id == 'two')
             {
                 $('.patrolTob').removeClass('isshow');
                 $(".two").addClass('isshow');
             }
             if ( id == 'three')
             {
                 $('.patrolTob').removeClass('isshow');
                 $(".three").addClass('isshow');
             }
         });

         //ajax 获取 巡检数据 局部更新数据
        function patrol_reload() {
            console.dir('reload');
            $.post('http://192.168.5.100:1000/patrol/patrol_reload',/* { 'patrols_limit': 1,'patrol_logs_limit':1},*/ function(data) {
                //layer.msg(data.msg);
                data = JSON.parse(data);
                if (data.code == 200) {
                    // console.dir(data.data.patrols);


                    let patrol_logs = data.data.patrol_logs;
                    let patroling = data.data.patroling;
                    let patrols = data.data.patrols;

                    let patrols_arr = "<table class='robotToble' id='patrols'>";
                    let patroling_arr = "<table class='robotToble' id='patroling'>";
                    let patrol_logs_arr = "<table class='robotToble' id='patrol_logs'>";
                    if(patrols.length !== 0){
                        // console.dir(objs);
                        for (var i in patrols) {
                            patrols_arr +=  "<tr><th>" +patrols[i].create_date.substr(5,11)+ "</th><th>" +patrols[i].name+ "</th><th>" +patrols[i].check_user+  "</th></tr>";
                            // console.dir(alarms[i]);
                        }
                    }else{
                        patrols_arr += "<tr><th>暂无数据</th></tr>";
                    }
                    if(patroling.length !== 0){
                        // console.dir(objs);
                        for (var i in patroling) {
                            patroling_arr +=  "<tr><th>" +patrol_logs[i].check_start_time.substr(5,11)+ "</th><th>" +patroling[i].name+  "</th><th>" +patroling[i].check_user+  "</th></tr>";
                            // console.dir(alarms[i]);
                        }
                    }else{
                        patroling_arr += "<tr><th>暂无数据</th></tr>";
                    }
                    if(patrol_logs.length !== 0){
                        // console.dir(objs);
                        for (var i in patrol_logs) {
                            patrol_logs_arr +=  "<tr><th>" +patrol_logs[i].check_start_time.substr(5,11)+ "</th><th>" +patrol_logs[i].name+  "</th><th>" +patrol_logs[i].check_user+  "</th></tr>";
                        }
                    }else{
                        patrol_logs_arr += "<tr><th>暂无数据</th></tr>";
                    }

                    patrols_arr += "</table>";
                    patroling_arr += "</table>";
                    patrol_logs_arr += "</table>";
                    $("#patrols").replaceWith(patrols_arr);//重写如页面
                    $("#patroling").replaceWith(patroling_arr);//重写如页面
                    $("#patrol_logs").replaceWith(patrol_logs_arr);//重写如页面

                    // console.dir(patrols_arr);
                    // console.dir(patroling_arr);
                    // console.dir(patrol_logs_arr);
                    // console.dir(objs);






                    // if (data.url) {
                    //     layer.msg(data.msg + ' 页面即将自动跳转~');
                    // } else {
                    //     layer.msg(data.msg);
                    // }
                    // setTimeout(function() {
                    //     if (data.url) {
                    //         location.href = data.url;
                    //     } else {
                    //         location.reload();
                    //     }
                    // }, 1500);
                } else {
                    console.dir(data.msg);
                    // layer.msg(data.msg + ' 页面即将自动刷新~');
                    // setTimeout(function() {
                    //     location.reload();
                    // }, 1000);
                }

            });
        }


         // 报警类型
         var callIcon = echarts.init(document.getElementById('callIcon'));

         // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
         var socket = io('http://192.168.5.100:2120');
         // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
         var uid = '2333';
         // console.dir(uid);
         // socket连接后以uid登录
         socket.on('connect', function(){
             socket.emit('login', uid);
         });
         // 后端推送来消息时
         socket.on('new_msg', function(msg){
             let objs =  eval('('+msg+')');

             var gis_alarm = objs.real_alarm;
             query_alarm(gis_alarm);
             // console.dir(msg);
             if(objs.reload){
                 patrol_reload();
             }else{
                 let arrs = "<tbody id='appends'>";
                 // console.dir(objs);
                 let alarms = objs.alarms;
                 let alarmnum= objs.alarmnum;
                 for (var i in alarms) {
                     /*var o={};
                     o[i]=array[i];
                     arrDate.push(o);*/
                     var dates = DateToTime(alarms[i].alarm_time);
                     if(alarms[i].zone == '无' && alarms[i].eqpt_site !== ''){
                         alarms[i].zone = alarms[i].eqpt_site.substr(0,5);
                     }
                     arrs +=  "<tr><th class='callTime'>" +dates+ "</th><th class='callGrade'>" +alarms[i].lvlcontent+ "</th><th>" +alarms[i].cate_name+ "</th><th>" +alarms[i].zone+ "</th></tr>";                     // console.dir(alarms[i]);
                 }
                 arrs += "</tbody>";

                 $("#appends").replaceWith(arrs);//重写如页面
                 // console.log(arrs);
                 arrs = '';

                 let alarmoption = {
                     series : [
                         {
                             data: alarmnum,
                         }
                     ]
                 };

                 callIcon.setOption(alarmoption);
             }
         });
         // 后端推送来在线数据时
         socket.on('update_online_count', function(online_stat){
             console.log(online_stat);
         });


     </script>

     <script>

         var myChart = echarts.init(document.getElementById('main'));

         var labelRight = {
             normal: {
                 position: 'right'
             }
         };
         var labelleft = {
             normal: {
                 position: 'left'
             }
         };

         option = {
             title: {
                 text: '入廊企业',
                 textStyle:{
                     color:'#00ffff',
                     fontWeight:'normal',
                     fontSize:16
                 },
                 padding:[15,10]
             },
             tooltip : {
                 trigger: 'axis',
                 axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                 }
             },
             grid: {

                 bottom: 10
             },
             xAxis: {
                 type : 'value',
                 position: 'top',
                 splitLine: {lineStyle:{type:'dashed'}},
                 show:false
             },
             yAxis: {
                 type : 'category',
                 axisLine: {show: false},
                 axisLabel: {show: false},
                 axisTick: {show: false},
                 splitLine: {show: false},
                 data : [ '中国电信正定分公司 8.996km','中国联通集团 8.2km', '正定县供电分公司 34.867km', '中国移动通信集团 10.5km', '广电集团有限公司 10.2km', '新奥燃气有限公司 2.4km', '正定新区水务有限公司 21.705km', '石家庄正定新区惠新供热有限公司 27.718km', '石家庄市供电公司 14.394km']
             },
             tooltip:{

             },
             formatter: function (params) {
                 // console.dir(typeof(params.value));
                 // var res  =  params.name;
                 var res  =  '';
                 res += '<style>td{padding:5px;}</style><table>';
                 res += '<tr><td>'+params.seriesName+':</td><td>'+Math.abs(params.value)+' km';
                 res += '</table>';
                 // res += '<style>td{padding:5px;}</style><table>';
                 // for(var i=0;i<params.length-1;i++){
                 //     res += '<tr><td>'+params.seriesName+'</td><td>'+params[i].value;
                 //     res += '</td><td>'+params.data.datas[0];
                 // }
                 // res += '<tr><td>'+params[params.length-1].seriesName+'</td><td>'+params[params.length-1].value+'</td></tr>';
                 // res += '</table>';
                 return res;

             },
             series : [
                 {
                     name:'长度',
                     type:'bar',
                     stack: '总量',
                     barWidth: 20,
                     itemStyle: {
                         normal: {
                             color: new echarts.graphic.LinearGradient(1, 0, 0, 0,
                                 [{
                                     offset: 0,
                                     color: "#1268f3" // 0% 处的颜色
                                 }, {
                                     offset: 0.6,
                                     color: "#08a4fa" // 60% 处的颜色
                                 }, {
                                     offset: 1,
                                     color: "#01ccfe" // 100% 处的颜色
                                 }], false),
                             label: {
                                 show: false, //开启显示
                                 position: 'top', //在上方显示
                                 textStyle: { //数值样式
                                     color: 'white',
                                     fontSize: 14
                                 }
                             }
                         }

                     },
                     label: {
                         normal: {
                             show: true,
                             formatter: '{b}'
                         }
                     },

                     data:[
                         {value: -8.996, label: labelRight},
                         {value: 8.2, label: labelleft},
                         {value: -34.867, label: labelRight},
                         {value: 10.5, label: labelleft},
                         {value: -10.2, label: labelRight},
                         {value: 2.4, label: labelleft},
                         {value: -21.705, label: labelRight},
                         {value: 27.718, label: labelleft},
                         {value: -14.394, label: labelRight},
                     ]
                 }
             ]
         };

         myChart.setOption(option);

         layui.use('element', function(){
             var $ = layui.jquery
                 ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
             //触发事件
             element.progress('demo', '0%');
             // ajax 安全运行时间
             function safety() {
                 $.get('http://192.168.5.100:1000/bigdata/get_data', function(data) {
                     data = JSON.parse(data);
                     if(data.code == '200'){
                         datas = data.data;
                         // console.dir(datas);
                         $('#units').html(datas.date_num.substr(0,1));
                         $('#tens').html(datas.date_num.substr(1,1));
                         $('#hundreds').html(datas.date_num.substr(2,1));
                         $('#thousands').html(datas.date_num.substr(3,1));
                         if(datas.nickname !== ''){
                             $('#nickname').html(datas.nickname);
                         }
                         if(datas.person_num !== ''){
                             $('#person_num').html(datas.person_num);

                         }
                         $('#stime').html(datas.stime);
                         $('#etime').html(datas.etime);
                         element.progress('demo', datas.per);
                     }else{
                         $('#stime').html('--');
                         $('#etime').html('--');
                     }

                 });
                 /*$.ajax({url:'http://10.3.100.8/bigdata/date'
                     ,type: 'GET'
                    ,dataType:'json'
                     ,async:false
                     ,success:function(data){
                         data = JSON.parse(data);
                         console.dir(data);
                         $('#units').html(data.units);
                         $('#tens').html(data.tens);
                         $('#hundreds').html(data.hundreds);
                         $('#thousands').html(data.thousands);
                     }});*/
             }

             $(function(){
                 safety();
                 setInterval(safety,60000);
             });
         });


         if (H5siOS() === true
             || H5sSafariBrowser() === true)
         {
             $('#h5sVideo1').prop("controls", true);
             $('#h5sVideo2').prop("controls", true);
             $('#h5sVideo3').prop("controls", true);
             $('#h5sVideo4').prop("controls", true);
             $('#h5sVideo5').prop("controls", true);
             $('#h5sVideo6').prop("controls", true);
         }
         var videos = JSON.parse($('#videos').val());
         // console.dir(videos);
         var conf1 = {
             videoid:'h5sVideo1',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'a3db',
             //streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login

         };
         var conf2 = {
             videoid:'h5sVideo2',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:videos.h5sVideo2,
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf3 = {
             videoid:'h5sVideo3',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:videos.h5sVideo3,
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf4 = {
             videoid:'h5sVideo4',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:videos.h5sVideo4,
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf5 = {
             videoid:'h5sVideo5',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:videos.h5sVideo5,
             streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };
         var conf6 = {
             videoid:'h5sVideo6',
             protocol: window.location.protocol, //'http:' or 'https:'
             host: '192.168.5.100:8080', //'localhost:8080'
             rootpath:'/', // '/' or window.location.pathname
             token:'0098',
             //streamprofile: 'sub',
             hlsver:'v1', //v1 is for ts, v2 is for fmp4
             session:'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
         };

         var v1 = H5sPlayerCreate(conf1);
         var v2 = H5sPlayerCreate(conf2);
         var v3 = H5sPlayerCreate(conf3);
         var v4 = H5sPlayerCreate(conf4);
         var v5 = H5sPlayerCreate(conf5);
         var v6 = H5sPlayerCreate(conf6);

         $('#h5sVideo1').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v1 != null)
                 {
                     v1.disconnect();
                     delete v1;
                     v1 = null;
                 }

                 v1 = H5sPlayerCreate(conf1);

                 console.log(v1);
                 v1.connect();

                 $(this).children(".playpause").fadeOut();
             }else{
                 v1.disconnect();
                 delete v1;
                 v1 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo2').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v2 != null)
                 {
                     v2.disconnect();
                     delete v2;
                     v2 = null;
                 }

                 v2 = H5sPlayerCreate(conf2);

                 console.log(v2);
                 v2.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v2.disconnect();
                 delete v2;
                 v2 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo3').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v3 != null)
                 {
                     v3.disconnect();
                     delete v3;
                     v3 = null;
                 }

                 v3 = H5sPlayerCreate(conf3);

                 console.log(v3);
                 v3.connect();

                 $(this).children(".playpause").fadeOut();
             }else{
                 v3.disconnect();
                 delete v3;
                 v3 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo4').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v4 != null)
                 {
                     v4.disconnect();
                     delete v4;
                     v4 = null;
                 }

                 v4 = H5sPlayerCreate(conf4);

                 console.log(v4);
                 v4.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v4;
                 v4 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });

         $('#h5sVideo5').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v5 != null)
                 {
                     v5.disconnect();
                     delete v5;
                     v5 = null;
                 }

                 v5 = H5sPlayerCreate(conf5);

                 console.log(v5);
                 v5.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v5;
                 v5 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });
         $('#h5sVideo6').parent().click(function () {
             if($(this).children(".h5video").get(0).paused){
                 if(v6 != null)
                 {
                     v6.disconnect();
                     delete v6;
                     v6 = null;
                 }

                 v6 = H5sPlayerCreate(conf6);

                 console.log(v6);
                 v6.connect();
                 $(this).children(".playpause").fadeOut();
             }else{
                 v4.disconnect();
                 delete v6;
                 v6 = null;
                 $(this).children(".h5video").get(0).pause();
                 $(this).children(".playpause").fadeIn();
             }
         });



     </script>
<!--     <script src="__STATIC__/new/gis/index.js"></script>-->
     <script src="__STATIC__/new/itemJS/index.js"></script>
     <!--<script src="__STATIC__/new/gis/QueryBySQL.js"></script>-->
</body>

</html>
