<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运行管理</title>
    
    <link rel="stylesheet" href="__STATIC__/map_libs/css/run/run.css">
    <link rel="stylesheet" href="__STATIC__/map_libs/css/navigation.css">
    <script type="text/javascript" src="__STATIC__/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/map_libs/SuperMap.Include.js"></script>

    <script type="text/javascript">

        //声明变量 map、layer、urlhttp://localhost:8090/iserver/services/map-map/rest/maps/map
        var map,layer,utfgrid,control,infowin,name,
//            url = "http://192.168.1.191:8090/iserver/services/map-first/rest/maps/TrafficMap@BaiduMap";
            url = 'http://192.168.5.100:8090/iserver/services/map-map/rest/maps/map'
        //创建地图控件
        function init() {
            $("#hide").hover(function(){
                $("#aaa").show();
            });
            function goto() {
                location.href = "__APP__/home/eqpt/index";
            }
            map = new SuperMap.Map ("map",{controls:[
                    /* new SuperMap.Control.ScaleLine(),
                     new SuperMap.Control.PanZoomBar({showSlider:true}),
                     new SuperMap.Control.LayerSwitcher(),*/
                    new SuperMap.Control.Navigation({
                        dragPanOptions: {
                            enableKinetic: true
                        }
                    })],
                projection: "EPSG:3857"
            });
            map.numZoomLevels = 5;
            map.minZoom = 1;
            map.addControl(new SuperMap.Control.MousePosition());
            //map.addControl (new  SuperMap.Control.OverviewMap());
            //创建分块动态 REST 图层，该图层显示 iserver 8C 服务发布的地图,
            //其中"world"为图层名称，url 图层的服务地址，{transparent: true}设置到 url 的可选参数
            layer = new SuperMap.Layer.TiledDynamicRESTLayer("map", url, {transparent: true}, {useCanvas: true, maxResolution:"auto"});

            
            utfgrid = new SuperMap.Layer.UTFGrid("UTFGridLayer",url,
                {
//                    layerName: "New_Line@first#1",
                    layerName:'New_Line_1@googleLine2#1',
                    utfTileSize: 256,
                    pixcell: 8,
                    isUseCache: false
                },
                {
                    utfgridResolution: 8
                });
            controlClick = new SuperMap.Control.UTFGrid({
                layers: [utfgrid],
                callback: callbackClick,
                handlerMode: "click"
            });
            controlMove = new SuperMap.Control.UTFGrid({
                layers: [utfgrid],
                callback: callbackMove,
                handlerMode: "move"
            });
            map.addControl(controlClick);
            map.addControl(controlMove);
            layer.events.on({"layerInitialized": addLayer});
        }
        var callbackClick = function (infoLookup, loc, pixel) {
            closeInfoWin();
            if (infoLookup) {
                var info;
                for (var idx in infoLookup) {

                    info = infoLookup[idx];
                    if (info && info.data) {

                        //$("#aaa").show();
                        var id = info.data.SmUserID;
                        switch (id){
                            case "1" :
                                name ="西上泽大街管廊";
                                break;
                            case "2":
                                name = "新城大道管廊";
                                break;
                            case "3":
                                name = "太行大街管廊";
                                break;
                            case "4":
                                name = "东门路管廊";
                                break;
                            case "5":
                                name = "临济路管廊";
                                break;
                        }
                        window.parent.goBim();

                        location.href = "__APP__/home/run/bim";
                    }
                }
            }
        };
        var callbackMove = function (infoLookup, loc, pixel) {
            closeInfoWin();
            if (infoLookup) {
                var info;
                for (var idx in infoLookup) {

                    info = infoLookup[idx];
                    if (info && info.data) {

                        var name;
                        var id = info.data.SmUserID;

                        switch (id){
                            case "1" :
                                name ="园博园管廊";
                                break;
                            case "2":
                                name = "新城大道管廊";
                                break;
                            case "3":
                                name = "太行大街管廊";
                                break;
                            case "4":
                                name = "迎旭路管廊";
                                break;
                            case "5":
                                name = "隆兴路管廊";
                                break;
                        }
                        /*                        console.log($('#kuangjiaName').html());*/
                        $('#kuangjiaName').html(name);
                        $("#aaa").show();

//                        map.div.style.cursor = "pointer";

                        var dom = "<div style='font-size: 15px; color: #FF0000;'>" + name + "</div>";
                        //设置x与y的像素偏移量，不影响地图浏览；
                        var xOff = (1 / map.getScale()) * 0.001;
                        var yOff = +(1 / map.getScale()) * 0.02;
                        var pos = new SuperMap.LonLat(loc.lon+xOff, loc.lat+yOff);
                        infowin = new SuperMap.Popup(
                            "chicken",
                            pos,
                            new SuperMap.Size(10, 10),
                            dom,
                            false,
                            null);
                        infowin.closeOnMove = true;
                        infowin.autoSize=true;
                        map.addPopup(infowin);
                    }
                }
            }
        };

        function closeInfoWin() {
            if ($("#aaa").is(":visible")) {
                try {
                    $("#aaa").hide();
                }
                catch (e) {
                }
            }
        }

        function addLayer() {
            var center = new SuperMap.LonLat(114.63600,38.12990);
            //将 Layer 图层加载到 Map 对象上
            map.addLayers([layer,utfgrid]);
            //出图，map.setCenter 函数显示地图  设置中心点及缩放级别
            map.setCenter(center, 1);
            //加载要素选择器控件 绑定事件 hover 是否悬浮
            /*selectFeature = new SuperMap.Control.SelectFeature(marks,
             {
             onSelect: OnFeatureSelect,
             onUnselect: OnFeatureUnselect,
             hover:true
             });
             //添加 激活
             map.addControl(selectFeature);
             selectFeature.activate();*/
            utfgrid.maxExtent=layer.maxExtent;
//            utfgrid2.maxExtent=layer.maxExtent;
        }
        

    </script>
    <!-- <style>
        .selec{
            background-image: url('/static/home/images/setting/MenuGray.png');
            background-repeat: no-repeat;
            text-align:center;
            line-height:35px;
            width:150px;
            font-size:13px;
            height:35px;
            float:right;
            position:absolute;
            top:20px;
        }
        .unselec{
            background-image: url('/static/home/images/setting/MenuWhite.png');
            background-repeat: no-repeat;
            text-align:center;
            line-height:35px;
            width:150px;
            font-size:13px;
            height:35px;
            float:right;
            position:absolute;
            top:20px;
        }
    
    </style> -->
</head>
<body onload="init()">
<div class="webpage">

    <!--主区-->
    <div class="content">
        <div class="content">
            <div id="map" class="contentView border shadow"></div>
            <div class="youkuangjia" id="aaa">
                <div class="youkuangjia_1">
                    <h3 id="kuangjiaName">园博园大街</h3>
                    <h4>YBY-03号管廊</h4>
                </div>
                <div class="youkuangjia_2"><span>氧气</span><span id="temp1">20.11</span>%VOL</div>
                <!-- <div class="youkuangjia_2"><span>硫化氢</span><span>33.05%VOL</span></div>
                 <div class="youkuangjia_2"><span>甲烷</span><span>33.05%VOL</span></div>-->
                <div class="youkuangjia_2"><span>温度</span><span id="temp2">33.05</span>℃</div>
                <div class="youkuangjia_2"><span>湿度</span><span id="temp3">33.04</span>%</div>
                <div class="youkuangjia_2"><span>电舱温度</span><span>33.05℃</span></div>
                <div class="youkuangjia_2"><span>电舱电缆温度</span><span>33.05%℃</span></div>
                <div class="youkuangjia_2" style="color: #ed482f;">电舱</div>
                <div class="youkuangjia_2"><span>集水坑液位</span><span>33%</span></div>
                <div class="youkuangjia_2" style="color: #ed482f;">水舱</div>
                <div class="youkuangjia_2"><span>集水坑液位</span><span>33%</span></div>
            </div>

            <!--</div>-->

        </div>
    </div>
</div>
</body>


</html>